@import 'styles/mixins';
@import 'styles/typography';

.root {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

.groups {
  background-color: var(--color-white);
  border-right: 1px solid var(--color-neutral-40);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
  z-index: 100;
}

.groupsHeader {
  @extend %caption2;
  border-bottom: 1px solid var(--color-neutral-40);
  height: 55px;
  padding: 20px 16px;
}

.group {
  @extend %caption2;
  align-items: center;
  display: flex;
  height: 26px;
  margin: 16px 0;
  padding: 0 4px;
}

.groupIcon {
  margin: 0 2px;
  width: 12px;
}

.groupName {
  @include ellipse-text;
}

.claimName {
  @extend %caption2;
  color: var(--color-neutral-60);
  font-size: 10px;
  padding: 0 4px;
}

.content {
  display: flex;
  margin: 0 0 0 106px;
  overflow: scroll;
}

.topColumn {
  text-align: center;
}

.topColumnLabel {
  @extend %caption2;
  padding: 8px 0;
}

.subColumns,
.dataColumns {
  display: flex;
}

.subColumns {
  border-bottom: 1px solid var(--color-neutral-40);
}

.dataColumns {
  margin: 16px 0;
}

.column {
  @extend %caption2;
  @include centralize;
  color: var(--color-neutral-60);
  height: 26px;
  min-width: 32px;
  padding: 4px;
  white-space: nowrap;
  width: 32px;
}

.subColumn {
  border-right: 1px solid var(--color-neutral-20);
  border-top: 1px solid var(--color-neutral-20);
  height: 20px;
}

.dataColumn {
  position: relative;
}

.dataColumn::after {
  //background-color: var(--color-neutral-20);
  border-right: 1px solid var(--color-neutral-20);
  content: '';
  height: 42px;
  position: absolute;
  right: 0;
  top: -16px;
  width: 32px;
  z-index: 10;
}

.showTrack::before {
  background-color: var(--color-neutral-80);
  content: '';
  height: 1px;
  position: absolute;
  transform: translateY(-0.5px);
  width: calc(100% + 32px);
  z-index: 20;
}

.lastColumn::after {
  background-color: var(--color-primary-10);
}
