@import 'styles/mixins';
@import 'styles/typography';

.root {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.timelineControls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.groups {
  background-color: var(--color-white);
  border-right: 1px solid var(--color-neutral-40);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
  z-index: 100;
}

.groupsHeader {
  @extend %caption2;
  border-bottom: 1px solid var(--color-neutral-40);
  height: 55px;
  padding: 20px 16px;
}

.group {
  @extend %caption2;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 26px;
  margin: 8px 0;
  padding: 0 4px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.groupIcon {
  margin: 0 2px;
  width: 12px;
}

.groupName {
  @include ellipse-text;
}

.claimName {
  @extend %caption2;
  color: var(--color-neutral-60);
  cursor: default;
  font-size: 10px;
  padding: 0 4px;
}

.content {
  display: flex;
  height: 100%;
  margin: 0 0 0 106px;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.topColumn {
  text-align: center;
}

.topColumnLabel {
  @extend %caption2;
  padding: 8px 0;
}

.subColumns,
.dataColumns {
  display: flex;
}

.subColumns {
  border-bottom: 1px solid var(--color-neutral-40);
}

.dataColumns {
  margin: 8px 0;
}

.column {
  @extend %caption2;
  @include centralize;
  color: var(--color-neutral-60);
  height: 26px;
  min-width: 32px;
  padding: 4px;
  white-space: nowrap;
  width: 32px;
}

.subColumn {
  border-right: 1px solid var(--color-neutral-20);
  border-top: 1px solid var(--color-neutral-20);
  height: 20px;
  position: relative;
  z-index: 0;
}

.subColumn::after {
  border-right: 1px solid var(--color-neutral-20);
  content: '';
  position: absolute;
  right: -1px;
  top: 0;
  width: 32px;
  z-index: -1;
}

.dataColumn {
  position: relative;
}

.dataColumn::after {
  border-right: 1px solid var(--color-neutral-20);
  content: '';
  height: 42px;
  position: absolute;
  right: 0;
  top: -8px;
  width: 32px;
  z-index: 10;
}

.showTrack::before {
  background-color: currentColor;
  content: '';
  height: 1px;
  position: absolute;
  transform: translateY(-0.5px);
  width: 100%; // calc(100% + 32px);
  z-index: 20;
}

.showIncompleteTrack::before {
  border-bottom: 1px dashed currentColor;
  content: '';
  height: 1px;
  position: absolute;
  transform: translateY(-0.5px);
  width: 29px;
  z-index: 20;
}

.lastHeaderColumn::after {
  background-color: var(--color-primary-10);
  border-right: 1px solid var(--color-neutral-40);
  top: -36px;
  width: 33px;
}

.lastColumn::after {
  background-color: var(--color-primary-10);
  border-right: 1px solid var(--color-neutral-40);
}

.firstMilestone::before {
  left: 50%;
  right: unset;
  width: 50%;
}

.lastMilestone::before {
  left: unset;
  right: 50%;
  width: 50%;
}

.singleMilestone::before {
  width: 0;
}
