@import 'styles/mixins';

.root {
  display: flex;
  position: relative;
  z-index: 30;
}

.icon {
  width: 18px;
}

.popupWrapper {
  padding: 8px;
}

.tooltip {
  min-width: 100px;
  text-align: left;
}
