@use 'styles/breakpoints';

.appHeader {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  grid-area: header;
  height: 72px;
  padding: 0 32px;
  width: 100%;
}

.hamburgerIcon {
  cursor: pointer;
  display: none;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: breakpoints.$screen-md - 1px) {
  .appHeader {
    height: 56px;
    padding: 0 24px;
  }

  .hamburgerIcon {
    display: block;
  }
}
