@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  position: relative;
  width: 100%;
}

.dropdown {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.label {
  @extend %caption1;
  color: var(--color-neutral-60);
  padding-bottom: 8px;
}

.select {
  background-color: var(--color-white);
  border: 1.5px solid var(--color-neutral-50);
  border-radius: 4px;
  cursor: pointer;
  flex: 1 0 40%;
  padding: 6.5px 6px;
  user-select: none;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .selected,
  .selectedMeasure {
    display: flex;
    flex: 1;
  }

  .selected .selectedWrapper {
    margin-right: 4px;
  }

  .selectedMeasure .selectedWrapper {
    margin-right: 4px;
  }

  .selectedMeasure {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .selectedMeasure > div {
    visibility: hidden;
  }

  .collapsedLabel {
    visibility: hidden;
  }

  .collapsedLabel.visible {
    visibility: visible;
  }

  .placeholder {
    @extend %body1;
    color: var(--color-neutral-60);
    font-size: 16px;
  }

  &.borderless {
    border: 0;
    padding-left: 0;
  }
}

.selectedFullList {
  border-bottom: 1px solid var(--color-neutral-40);
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px;

  .selectedWrapper {
    display: inline-block;
    margin: 4px;
  }
}

.icon {
  color: var(--color-primary-50);
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.5s;
  width: 18px;
}

.menu {
  background: #fff;
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  list-style: none;
  max-height: 300px;
  min-width: 200px;
  overflow-y: auto;
  padding-inline-start: 0;
  position: absolute;
  top: 80%;
  z-index: 1;
}

.item {
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  margin: 4px;
  min-height: 40px;
  padding: 11px 18px;

  &:hover {
    background-color: var(--color-neutral-10);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.checkbox {
  margin-right: 8px;
  pointer-events: none;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .select {
    flex: 0 0 40px;
    width: 40px;
  }
  .select .selected {
    display: none;
  }
  .menu {
    right: calc(100% - 48px);
    width: max-content;
  }
}
