@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.tabsWrapper {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 32px;
  position: relative;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid var(--color-neutral-20);
  display: flex;
  flex: 1;
  min-height: 32px;
  overflow: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.optional {
  flex: 0.25;
}

.tabs {
  -ms-overflow-style: none;
  overflow-y: hidden;
  scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.fitContent {
  width: fit-content;
}

.content {
  margin-top: 5px;
  width: 100%;
}

.tab {
  @extend %body1;
  @include ellipse-text;

  align-items: center;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: space-between;
  line-height: 30px;
  outline: none;
  overflow: visible;
  padding: 0 14px;
  position: relative;
  text-transform: capitalize;

  &::after {
    align-items: center;
    border-bottom: 4px solid var(--color-brand-purple-light);
    color: currentColor;
    content: attr(data-name);
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
    line-height: 30px;
    opacity: 0;
    position: absolute;
  }
}

.tabComponent {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: space-between;
  line-height: 30px;
  outline: none;
  overflow: visible;
  padding: 0 14px;
  position: relative;

  > div {
    font-size: 12px;
  }

  &::after {
    align-items: center;
    border-bottom: 4px solid var(--color-brand-purple-light);
    color: currentColor;
    content: '';
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 1em;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 30px;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
}

.tabComponentActive {
  &::after {
    opacity: 1;
  }
}

.active {
  transform: translateY(100%);

  &::after {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .tabs {
    display: flex;
    order: 2;
    width: calc(100vw - 48px);
  }

  .optional {
    display: block;
    flex: 1;
    order: 1;
    position: absolute;
    right: calc(-100% + 48px);
    top: -54px;
    width: 100%;
  }

  .tabsWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: unset;
  }

  .tab {
    font-size: 0.875em;
  }
}
