@import 'styles/mixins';
@import 'styles/typography';

.input {
  color: var(--color-neutral-80);
  display: inline-flex;
  flex-direction: column;
  gap: 0.5em;

  input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    flex-basis: 100%;
    font-family: var(--font-family-primary);
    font-size: 1em;
    height: 48px;
    line-height: 24px;
    padding: 10.5px;
    width: 100%;

    @include placeholder {
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }

  .inputHolder {
    border: 1.5px solid var(--color-neutral-60);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
  }

  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */

  .success {
    border-color: var(--color-success);
  }

  .error {
    border-color: var(--color-error-40);
  }

  input::-webkit-datetime-edit {
    color: var(--color-neutral-40);
  }

  input::placeholder {
    color: var(--color-neutral-60);
  }

  input:focus {
    outline: 0;

    @include placeholder {
      opacity: 0;
    }
  }
}

.borderless {
  input {
    padding-left: 0;
  }

  .inputHolder {
    border: 0;
  }
}

.sizeSmall {
  width: 8em;

  .inputHolder {
    width: 8em;
  }
}

.sizeMedium {
  width: 16em;

  .inputHolder {
    width: 16em;
  }
}

.sizeLarge {
  width: 25em;

  .inputHolder {
    width: 16em;
  }
}

.sizeXl {
  width: 42px;

  input {
    padding: 6.5px;
  }

  .inputHolder {
    text-align: center;
    width: 42px;
  }
}

.sizeContent {
  width: fit-content;
}

.sizeBlock {
  width: 100%;
}

.sizeAuto {
  width: auto;

  input {
    width: auto;
  }
}

.label {
  @extend %caption1;
  color: var(--color-neutral-60);
  margin: 0;
}

.suffix {
  align-self: flex-end;
}

.description {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.125em;
}
