@import 'styles/mixins';
@import 'styles/typography';

.root {
  width: 100%;
}

.content {
  //margin-top: 40px;
}

.error {
  color: var(--color-error-60);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 16px;
}

.terms {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  margin: 40px 0 16px 40px;
}

.link {
  color: var(--color-primary-60);

  &:hover {
    filter: brightness(150%);
  }
}
