@import 'styles/mixins';
@import 'styles/typography';

.root {
  width: 100%;
}

.content {
  margin-top: 40px;
}

.error {
  color: var(--color-error-60);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 16px;
}
