@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-gap: 24px;
  grid-template-areas:
    'separator separator'
    'footer footer'
    'submit .';
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.separator {
  background-color: var(--color-neutral-50);
  display: none;
  grid-area: separator;
  height: 1px;
  margin: 48px 0 0;
  width: 100%;

  @include tablet-landscape {
    display: block;
  }
}

.footer {
  align-items: flex-start;
  display: flex;
  grid-area: footer;
  margin-top: 24px;
  width: 100%;

  @include tablet-landscape {
    margin-top: 0;
  }
}

.title {
  margin: 0;
}

.label {
  justify-content: flex-end;
  padding-bottom: 16.5px;
}

.cost {
  margin-left: auto;
  margin-right: 24px;
}

.submit {
  grid-area: submit;
}

.submitButton {
  margin: 0;
}
