@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  position: relative;
  width: 100%;
}

.dropdown {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.label {
  @extend %caption1;
  color: var(--color-neutral-60);
  padding-bottom: 4px;
}

.select {
  background-color: var(--color-white);
  border: 1.5px solid var(--color-neutral-60);
  border-radius: 4px;
  cursor: pointer;
  flex: 1 0 40%;
  padding: 6.5px 6px;
  user-select: none;
  width: 100%;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .selected {
    overflow: hidden;
    width: 100%;
  }

  .selectedMeasure {
    display: flex;
    flex: 1;
  }

  .selectedMeasure .selectedWrapper {
    margin-right: 4px;
  }

  .selectedMeasure {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .selectedMeasure > div {
    visibility: hidden;
  }

  .collapsedLabel {
    visibility: hidden;
  }

  .collapsedLabel.visible {
    visibility: visible;
  }

  &.borderless {
    border: 0;
    padding-left: 0;
  }
}

.selectedFullList {
  border-bottom: 1px solid var(--color-neutral-40);
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px;

  .selectedWrapper {
    display: inline-block;
    margin: 4px;
  }
}

.icon {
  color: var(--color-primary-50);
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.5s;
  width: 18px;
}

.anchor {
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.menu {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  list-style: none;
  max-height: 300px;
  min-width: 200px;
  overflow-y: auto;
  padding-inline-start: 0;
  position: absolute;
  top: 80%;
  z-index: 100;

  &.reverse {
    bottom: 60%;
    top: unset;
  }
}

.item {
  @extend %body2;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  margin: 4px;
  min-height: 40px;
  padding: 11px 18px;

  &:hover {
    background-color: var(--color-neutral-10);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.checkbox {
  color: var(--color-neutral-50);
  margin-right: 8px;
  pointer-events: none;

  &.checked {
    color: var(--color-primary-50);
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .menu {
    right: calc(100% - 80px);
    width: max-content;
  }
}

.simple {
  .dropdown {
    height: 40px;
  }

  .select {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--color-neutral-40);
    border-radius: 5px;
    height: 40px;
    padding: 0 12px 0 20px;
  }

  .label {
    @include font(14px, 24px, 700);
    color: var(--color-neutral-70);
    padding: 0;
  }

  .icon {
    color: var(--color-neutral-60);
    margin: 0;
    transition: transform 0.4s;
    width: 24px;
  }

  .menu {
    margin: 0;
    right: auto;
    top: 40px;
    width: 100%;
  }

  .item {
    @include font(14px, 24px, 500);
    align-items: flex-start;
    border-radius: 0;
    color: var(--color-neutral-60);
    cursor: pointer;
    margin: 4px;
    min-height: 40px;
  }

  .item:first-child {
    margin-top: 8px;
  }

  .item:last-child {
    margin-bottom: 4px;
  }

  .item:hover {
    background-color: transparent;
    color: var(--color-neutral-70);
  }

  .item.checked {
    color: var(--color-neutral-70);
  }

  .checkbox {
    color: var(--color-neutral-40);
    margin: 4px 6px 0 0;
    transition: color 0.2s;
  }

  .item:hover .checkbox {
    color: var(--color-primary-50);
  }

  .item.checked .checkbox {
    color: var(--color-primary-50);
  }
}

.placeholder {
  color: var(--color-neutral-50);
}
