@import 'styles/mixins';

.root {
  align-items: center;
  background-color: var(--color-black-opacity-14);
  border-radius: 8px;
  bottom: -24px;
  display: none;

  height: 42px;

  padding: 12px;
  position: absolute;
  right: 0;

  @include desktop {
    bottom: 24px;
    display: flex;
  }

  &.editable:hover .edit {
    display: block;
  }

  > a:not(:last-of-type) {
    margin-right: 12px;
  }
}

.link {
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.1s ease-out;

  &::before {
    margin-left: 12px;
  }

  &:hover {
    color: var(--color-black);
  }
}

.edit {
  border-right: 1px solid var(--color-white);
  display: none;
  margin-right: 12px;
  padding-right: 12px;
}
