.root {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}
