@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  @include tablet-landscape {
    gap: 0;
    justify-content: space-between;
    margin-top: 40px;
  }
}

.title {
  @extend %heading1;

  @include large-desktop-max {
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
  }
}

.tabs {
  display: none;
  @include tablet-landscape {
    display: block;
  }
}

.tabBtn {
  color: var(--color-neutral-50);
  height: 40px;
  min-width: unset;
  padding: 0 12px;
  width: unset;

  &:hover {
    color: var(--color-neutral-60);
  }

  &.active {
    border-bottom: 2px solid var(--color-primary-50);
    color: var(--color-neutral-80);
  }
}

.sorting {
  @extend %body2;
  align-items: center;
  display: none;
  justify-content: flex-end;
  min-width: 120px;

  @include tablet-landscape {
    display: flex;
  }

  .label {
    color: var(--color-neutral-60);
    margin-right: 4px;
  }

  .menu {
    margin-top: 12px;
    position: absolute;
    right: 0;
  }
}
