@import 'styles/mixins';

.root {
  display: grid;
  grid-template-areas:
    'breadcrumbs'
    'dao'
    'header'
    'feed';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.warningWrapper {
  margin-top: 32px;
}

.breadcrumbs {
  grid-area: breadcrumbs;
  margin-bottom: 30px;
}

.dao {
  grid-area: dao;
  margin: 16px 0 44px;
}

.header {
  align-items: center;
  display: flex;
  gap: 35px;
  grid-area: header;
  margin-bottom: 70px;
}

.details {
  margin-left: -100px;
}

.feed {
  grid-area: feed;
}
