@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 32px;
  grid-template-areas:
    'header'
    'create'
    'polls';
  grid-template-columns: 1fr;
  padding-top: 56px;

  @include tablet-landscape {
    grid-row-gap: 48px;
    grid-template-areas:
      'header create'
      'polls polls';
    grid-template-columns: 1fr 1fr;
  }
}

.create {
  @extend %subtitle2;
  align-self: center;
  color: var(--color-brand-black);
  grid-area: create;
  justify-self: end;
  width: 100%;

  @include tablet-landscape {
    width: auto;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-landscape {
      min-width: auto;
    }
  }
}

.header {
  @extend %heading2;
  grid-area: header;

  @include tablet-landscape {
    @include font(2em, 48px, 500);
  }
}

.polls {
  grid-area: polls;
  margin-top: 16px;

  @include tablet-landscape {
    margin-top: 0;
  }
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}

.proposalsView {
  margin-top: 32px;
}

.proposalCardWrapper {
  margin-bottom: 16px;
}

.activeProposalsTab {
  color: var(--color-primary-50);
}

.approvedProposalsTab {
  color: var(--color-brand-green);
}

.failedProposalsTab {
  color: var(--color-brand-coral-red);
}
