@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  background: var(--color-white);
  border: 1px solid var(--color-neutral-30);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 12px 24px 12px 4px;
  position: relative;
  transform: translateZ(0);
  transition: all 0.2s ease-out;
  width: 100%;

  @include tablet-landscape {
    max-width: 270px;
  }
}

.anchor {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.iconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;

  .icon {
    color: var(--color-neutral-60);
    width: 24px;
  }
}

.closeIconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;

  .icon {
    color: var(--color-neutral-50);
    height: 16px;
    width: 16px;
  }
}

.input {
  @extend %body1;
  @include ellipse-text;

  background: transparent;
  border-width: 0;
  color: var(--color-brand-black);
  flex: 1;
  font-family: var(--font-family-primary);
  margin: 8px 12px 8px 0;
  outline: none;

  @include placeholder {
    color: var(--color-neutral-60);
    font-size: 13px;
  }
}

.expanded {
  &.root {
    background: var(--color-neutral-20);
    padding-left: 12px;
    width: 100%;
  }

  .iconHolder .icon {
    color: var(--color-brand-purple);
  }
}

.hint {
  @extend %caption2;
  background: var(--color-neutral-10);
  border-radius: 8px;
  box-shadow: 0 8.89583px 30px rgba(0, 0, 0, 0.14);
  color: var(--color-neutral-60);
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow: auto;
  padding: 12px 24px;
  width: 100%;
}

.loader {
  color: var(--color-primary-50);
  margin: 0;
}

.noResults {
  font-size: 14px;
  padding: 0;
}

.noResultsImage {
  height: 100px;
  min-height: unset;
  width: 220px;
}

.withoutLoading {
  margin-left: 10px;
}

.label {
  @extend %caption1;
  color: var(--color-neutral-60);
  margin-bottom: 8px;
  transition: color 0.1s;
}
