@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: center;
  border-bottom: 0.5px solid var(--color-brand-purple);
  border-left: 0.5px solid var(--color-brand-purple);
  border-radius: 0 0 7px 7px;
  border-right: 0.5px solid var(--color-brand-purple);
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  color: var(--color-neutral-10);
  display: flex;
  justify-content: flex-end;
  min-height: 80px;
  padding-right: 28px;
  width: 100%;
}
