@import 'styles/mixins';
@import 'styles/typography';

.root {
  background: var(--color-white);
  border-right: 1px solid var(--color-neutral-30);
  display: none;
  flex-direction: column;
  left: 0;
  min-height: calc(100vh - var(--app-header-height));
  position: fixed;
  top: var(--app-header-height);
  z-index: 900;

  @include desktop {
    display: flex;
  }
}

.content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: width 0.2s ease-out;
  width: 64px;
  will-change: width;

  &.expanded {
    width: 250px;
  }

  &.expanded [data-expanded='hidden'] {
    opacity: 1;
  }

  [data-expanded='hidden'] {
    opacity: 0;
  }
}

.toggle {
  background-color: var(--color-primary-20);
  border-radius: 50%;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  transform: translate3d(0, 0, 0);
  transition: all 0.1s ease-out;

  width: 20px;

  .toggleButton {
    @include centralize;
    height: 100%;
    width: 100%;
  }

  .toggleIcon {
    color: var(--color-black);
    width: 12px;
  }
}

.root:hover .toggle {
  border-radius: 4px;
  height: 48px;
  top: -24px;
}

.content.expanded {
  .toggleIcon {
    transform: rotateY(180deg);
  }
}

.nav,
.daos {
  overflow: hidden;
  padding: 0 11px;
  position: relative;
  width: 100%;
}

.daos {
  max-height: calc(100vh - 462px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgba(232, 224, 255, 0.09);

  /* Turn on custom 2px wide scrollbar */
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background: transparent;
    border-radius: 0;
    width: 2px;
  }

  /* hover effect for both scrollbar area, and scrollbar 'thumb' */
  &::-webkit-scrollbar:hover {
    background-color: rgba(232, 224, 255, 0.09);
  }

  /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
  &::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(232, 224, 255, 1);
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:vertical:active {
    /* Some darker color when you click it */
    background: rgba(232, 224, 255, 0.61);
    border-radius: 0;
  }
}

.separator {
  background-color: var(--color-neutral-40);
  height: 1px;
  margin: 12px 0;
  position: relative;
  width: 100%;
}

.last {
  margin-bottom: 12px;
  margin-top: auto;
}

.footer {
  bottom: 0;
  padding: 0 24px;
  position: absolute;
  width: 250px;

  .icon {
    margin-left: 24px;
    width: 24px;
  }

  .row {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .copyright {
    @extend %caption2;
    font-size: 10px;
    margin: 12px 0 24px;
  }
}
