/* stylelint-disable max-nesting-depth */

.bountiesList {
  font-size: 0.8em;

  div {
    align-items: center;
    display: flex;
    margin: 5px;
  }

  .header {
    color: rgba(0, 0, 0, 0.5);
    display: grid;
    font-weight: 700;
    grid-template-columns: 40px 40px 1fr 1fr 2fr 2fr 1fr 1fr 50px 50px;
    letter-spacing: 0.07em;
    margin: 5px 0 20px;
  }

  .row {
    background: #fff;
    border-radius: 4px;

    box-shadow: 0 4px 11px rgba(226, 229, 240, 0.8);

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40px 40px 1fr 1fr 2fr 2fr 1fr 1fr 50px 50px;
    margin: 5px 0 20px;

    button {
      margin: 5px 10px;
    }

    .daoLogo {
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: 1px solid transparent;
      border-radius: 8px;
      display: flex;
      height: 30px;
      justify-content: center;
      margin: 0;
      width: 30px;
    }

    .daoName {
      color: rgba(32, 29, 41, 0.5);
      font-weight: 700;
    }

    .bountyType {
      color: #201d29;
      font-weight: 700;
    }

    .amount {
      color: #6038d0;
      font-weight: 700;
    }

    .tags {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      color: var(--color-neutral-70);
    }
  }
}
