.root {
  margin-right: 24px;
  position: relative;
  width: fit-content;

  &.lg {
    height: 272px;
  }

  &.sm {
    height: 78px;
  }

  &.xs {
    height: 53px;
  }
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 68px;
  left: 136px;
  position: absolute;
  top: 66px;
  width: 68px;
}

.background {
  background-color: var(--color-white);
  bottom: 0;
  clip-path: url('#_ASTRO_flag');
  inset: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.04, 1.045);
}

.backgroundSmall {
  background-color: var(--color-white);
  clip-path: url('#_ASTRO_flagMinimized');
  inset: 0;
  position: absolute;
  transform: scale(1.04, 1.045);
}

.backgroundXS {
  background-color: var(--color-white);
  clip-path: url('#_ASTRO_flagXS');
  inset: 0;
  position: absolute;
  transform: scale(1.04, 1.045);
}

.defaultBackground {
  .background,
  .backgroundSmall,
  .backgroundXS {
    background-color: var(--color-neutral-20);
  }
}

.background,
.backgroundSmall,
.backgroundXS {
  &.circle {
    clip-path: circle(47% at 50% 50%);
  }
}
