@use 'styles/breakpoints';
@import 'styles/typography';

.root {
  h2 {
    margin-top: 0;
    text-align: center;
  }
}

.content {
  margin-top: 40px;
}

.info {
  display: grid;
  grid-column-gap: 24px;
  grid-template-areas: 'token symbol balance';
  grid-template-columns: 1fr 2fr 1fr;
}

.token {
  grid-area: token;
}

.symbol {
  grid-area: symbol;
}

.balance {
  grid-area: balance;
}

.label {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  margin-bottom: 8px;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.icon {
  background-color: var(--color-brand-green-dark);
  border-radius: 50%;
  height: 32px;
  margin-right: 12px;
  overflow: hidden;
  width: 32px;
}

.input {
  margin-top: 32px;
}

.value {
  @extend %subtitle3;
  align-items: center;
  color: var(--color-neutral-90);
  display: flex;
  line-height: 1.9;
}

.delegatedTo {
  margin-top: 24px;

  .inputLabel {
    @extend %title5;
    color: var(--color-neutral-80);
    margin-bottom: 6px;
  }
}

.row {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;

  > div:last-of-type {
    margin-left: 8px;
    transform: translateY(-10px);
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  width: 100%;

  > button:not(:first-of-type) {
    margin-left: 8px;
  }

  > button {
    text-transform: unset;
  }

  .button1 {
    grid-area: button1;
  }

  .button2 {
    grid-area: button2;
  }

  .optionalButton {
    grid-area: optionalButton;
    margin-right: auto;
  }
}

@media screen and (max-width: #{breakpoints.$screen-xs}px) {
  .info {
    grid-gap: 24px;
    grid-template-areas:
      'token symbol'
      'balance balance';
    grid-template-columns: 1fr 1fr;
  }

  .right {
    justify-content: unset;
    text-align: unset;
  }

  .footer {
    display: grid;
    grid-gap: 24px 16px;
    grid-template-areas:
      'optionalButton optionalButton'
      'button1 button2';
    grid-template-columns: 1fr 1fr;

    > button:not(:first-of-type) {
      margin-left: 0;
    }
  }
}
