.comingSoon {
  background-color: var(--color-neutral-40);
}

.available {
  background-color: var(--color-pastel-lightorange);
}

.inProgress {
  background-color: var(--color-brand-purple-light);
}
