@import 'styles/mixins';

.root {
  align-items: stretch;
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: inset 0 0 0 1.5px var(--color-neutral-40);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  gap: 24px;
  min-height: 132px;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 100%;

  &.editable {
    height: 178px;
    min-height: 178px;
    padding: 48px 24px;
  }
}

.subject {
  color: var(--color-neutral-60);
  margin: 0;
  text-transform: uppercase;
}

.title {
  color: var(--color-primary-50);
  margin: 0;
}

.description {
  font-size: 1em;
  margin: 0;
}

.icon {
  align-items: center;
  display: flex;
}

.edit-icon {
  position: absolute;
  right: 24px;
  top: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.active {
  box-shadow: inset 0 0 0 3px var(--color-primary-50);
}
