@import 'styles/mixins';
@import 'styles/typography';

.root {
  @include card-shadow;
  align-items: center;
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-areas:
    'transactionType tokenBalance'
    'transactionType account'
    'transactionType date';
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40% 24% 36%;
  height: 125px;
  position: relative;

  @include tablet-portrait {
    grid-template-areas: 'transactionType tokenBalance account date';
    grid-template-columns: 64px 0.8fr 1.4fr 1.05fr;
    grid-template-rows: 72px;
    height: 72px;
  }
}

.explorerLink {
  > a {
    @include tablet-portrait {
      transform: translateY(8px);
    }
  }
}

.icon {
  @include centralize;
  border-radius: 8px 0 0 8px;
  grid-area: transactionType;
  height: 100%;

  .container {
    color: var(--color-primary-70);
  }

  &.deposit {
    background-color: var(--color-success-40);
  }

  &.withdraw {
    background-color: var(--color-brand-coral-red);
  }
}

.token {
  align-self: end;
  grid-area: tokenBalance;
  margin: 0 0 4px 16px;

  @include tablet-portrait {
    align-self: center;
    margin: 0 0 0 16px;
  }

  .balance {
    @include font(1.4em, 28px, 700);
    white-space: nowrap;

    @include tablet-portrait {
      @include font(1em, 24px, 700);
    }
  }

  .name {
    @include font(1.4em, 28px, 500);

    @include tablet-portrait {
      @include font(1em, 24px, 500);
    }
  }
}

.account {
  @include font(1em, 21px, 500);
  grid-area: account;
  margin-left: 16px;

  @include tablet-portrait {
    @include font(1em, 24px, 700);
    justify-self: center;
    margin-left: 0;
  }
}

.date {
  @extend %body1;
  align-self: start;
  color: var(--color-neutral-60);
  grid-area: date;
  margin: 4px 0 0 16px;

  @include tablet-portrait {
    @include font(0.875em, 24px, 400);
    align-self: center;
    justify-self: end;
    margin: 0 52px 0 0;
  }

  @include large-desktop {
    margin-right: 56px;
  }
}
