@import 'styles/mixins';

.root {
  display: flex;
  flex-wrap: wrap;
}

.legend {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.content {
  margin-top: 0;
  width: 100%;

  @include tablet-landscape {
    margin-top: 24px;
  }
}

.regular {
  display: none;
  @include tablet-landscape {
    display: block;
  }
}

.mobile {
  display: block;
  @include tablet-landscape {
    display: none;
  }
}
