/* stylelint-disable max-nesting-depth */
/* stylelint-disable selector-max-compound-selectors */

@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 0;

  grid-template-areas:
    'filter title'
    'filter quickFilter'
    'filter bounties';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 50px 1fr;
  padding: 0 64px 0 96px;

  .filter {
    font-size: 0.75em;
    grid-area: filter;
    margin: 10px 40px 10px 0;

    div {
      margin: 5px 0;
    }

    .label {
      color: var(--color-neutral-60);
      font-weight: 700;
    }

    .input {
      input {
        // width: 150px;
        height: 30px;
      }
    }
  }

  .title {
    grid-area: title;
  }

  .quickFilter {
    display: flex;
    font-size: 0.8em;
    grid-area: quickFilter;

    .icon {
      height: 10px;
      margin-right: 5px;
    }

    .item {
      align-items: center;
      background-color: var(--color-white);
      border: 1px solid var(--color-neutral-40);
      border-radius: 100px;
      cursor: pointer;
      display: flex;
      height: 40px;
      margin-right: 8px;
      padding: 8px 12px;
    }
  }

  .bounties {
    grid-area: bounties;
  }
}
