/* stylelint-disable max-nesting-depth */

@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 1fr;
  padding: 0 64px 0 96px;

  .quickFilter {
    display: flex;
    font-size: 0.8em;

    .icon {
      height: 10px;
      margin-right: 5px;
    }

    .item {
      align-items: center;
      background-color: var(--color-white);
      border: 1px solid var(--color-neutral-40);
      border-radius: 100px;
      cursor: pointer;
      display: flex;
      height: 40px;
      margin-right: 8px;
      padding: 8px 12px;
    }
  }
}
