@import 'styles/mixins';

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
}

.headerContainer {
  align-items: center;
  display: flex;
  margin-bottom: 32px;
  margin-right: 32px;
}

.filtersContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 32px;
}
