@import 'styles/mixins';

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  //gap: 32px;
  justify-content: space-between;
  white-space: nowrap;
}

.headerContainer {
  align-items: center;
  display: flex;
  grid-gap: 20px;
  margin-bottom: 32px;
  margin-right: 32px;

  @include tablet-portrait {
    grid-gap: 32px;
  }
}

.filtersContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 32px;
}
