@import 'styles/typography';
@import 'styles/mixins';

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 56px 0 24px;

  h1 {
    margin: 0;
  }

  button {
    margin-top: 24px;
    text-transform: none;
    width: 100%;

    @include tablet-portrait {
      margin-top: 0;
      width: auto;
    }
  }
}

.subheader {
  @extend %body1;
}

.warning {
  @extend %body1;
  align-items: flex-start;
  align-self: center;
  color: var(--color-error-70);
  display: flex;
  margin-top: 32px;

  .icon {
    margin-right: 10px;
    min-width: 24px;
    width: 24px;
  }
}

.mobile {
  @extend %title3;
}

.row {
  margin-top: 48px;
}
