{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["error", "warn", "debug", "info"]
      }
    ],
    "no-duplicate-imports": "warn",
    "react/prefer-stateless-function": ["warn"]
  }
}
