@import 'styles/typography';

.root {
  align-items: center;
  background-color: var(--color-neutral-10);
  border-radius: 8px;
  display: grid;
  grid-template-areas: 'transactionType tokenBalance date account';
  grid-template-columns: 64px 1fr 1fr 1fr;
  min-height: 64px;
  text-align: left;
}

.icon {
  align-items: center;
  border-radius: 8px 0 0 8px;
  display: flex;
  grid-area: transactionType;
  height: 100%;
  justify-content: center;

  .container {
    height: 24px;
    width: 24px;
  }

  &.green {
    background-color: var(--color-success-40);
  }

  &.purple {
    background-color: var(--color-brand-purple-light);
  }
}

.token {
  display: flex;
  flex: 1;
  grid-area: tokenBalance;
  justify-self: start;
  margin-left: 16px;

  .balance {
    @extend %title2;
    white-space: nowrap;
  }

  .name {
    @extend %subtitle2;
  }
}

.date {
  @extend %body2;
  color: var(--color-neutral-60);
  grid-area: date;
}

.account {
  @extend %title3;
  grid-area: account;
  justify-self: end;
  margin-right: 16px;
}

@media screen and (max-width: 1024px) {
  .root {
    grid-template-areas:
      'transactionType tokenBalance tokenBalance'
      'transactionType account date';
    grid-template-columns: 40px 1fr 1fr;
    grid-template-rows: 50% 50%;
    min-height: 92px;
  }

  .token {
    align-self: end;

    .balance {
      @include font(1.25em, 28px, 700);
    }

    .name {
      @include font(1.25em, 28px, 500);
    }
  }

  .date {
    justify-self: end;
    margin-right: 16px;
  }

  .account {
    @include font(0.875em, 18px, 500);
    justify-self: start;
    margin-left: 16px;
  }
}
