@import 'styles/typography';

.root {
  align-items: center;
  background-color: var(--color-white);
  display: grid;
  grid-template-areas: 'transactionType tokenBalance date account';
  grid-template-columns: 64px 1fr 1fr 1fr;
}

.icon {
  align-items: center;
  display: flex;
  grid-area: transactionType;
  height: 64px;
  justify-content: center;

  .container {
    height: 24px;
    width: 24px;
  }

  &.green {
    background-color: var(--color-success-40);
  }

  &.purple {
    background-color: var(--color-brand-purple-light);
  }
}

.token {
  display: flex;
  flex: 1;
  grid-area: tokenBalance;
  justify-self: start;
  padding-left: 16px;

  .balance {
    @extend %subtitle2;
  }

  .name {
    @extend %title3;
  }
}

.date {
  @extend %body2;
  color: var(--color-neutral-60);
  grid-area: date;
}

.account {
  @extend %title3;
  grid-area: account;
  justify-self: end;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .root {
    grid-template-areas:
      'transactionType . tokenBalance tokenBalance'
      'date date account account';
    grid-template-columns: 64px 1fr 1fr 1fr;
  }
}
