@import 'styles/mixins';

.root {
  display: grid;
  grid-template-areas:
    'breadcrumbs'
    'header'
    'feed';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.warningWrapper {
  margin-top: 64px;
}

.breadcrumbs {
  grid-area: breadcrumbs;
  margin-bottom: 30px;
}

.header {
  grid-area: header;
  margin-bottom: 70px;
}

.details {
  @include tablet-landscape {
    margin-left: -100px;
  }
}

.createProposal {
  margin-top: 64px;
}

.feed {
  grid-area: feed;
}
