@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'breadcrumbs'
    'header'
    'feed';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.warningWrapper {
  margin-top: 64px;
}

.breadcrumbs {
  grid-area: breadcrumbs;
}

.header {
  grid-area: header;
}

.title {
  font-size: 32px;
  margin: 0;
  text-transform: capitalize;
}

.details {
  @include tablet-landscape {
    margin-left: -100px;
  }

  @include astro-desktop {
    margin-left: 0;
  }

  @include large-desktop {
    margin-left: -30px;
  }

  @include large-x-desktop {
    margin-left: -60px;
  }
}

.createProposal {
  margin-top: 56px;
}

.feed {
  grid-area: feed;
}
