.root {
  width: 100%;
}

.title {
  align-items: center;
  display: inline-flex;
  line-height: 1;
  margin: 0;
}

.statusFilterWrapper {
  background-color: var(--color-neutral-10);
  display: flex;
  justify-content: center;
  margin-left: auto;
  max-width: calc(100% - 152px);
  padding: 67px 0 30px;
  position: sticky;
  top: 20px;
  width: 100%;
  z-index: 2;

  .categoriesListRoot {
    margin-left: auto;
  }

  .categoriesListApprovedInputWrapperChecked {
    background-color: var(--color-success-50);
    border-color: var(--color-success-50);
  }

  .categoriesListFailedInputWrapperChecked {
    background-color: var(--color-error-60);
    border-color: var(--color-error-60);
  }

  &::after {
    background-color: var(--color-neutral-10);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 50px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* stylelint-disable-next-line */
.container :global(.infinite-scroll-component__outerdiv) {
  flex-grow: 1;
  max-width: calc(100% - 152px);
}

.categoriesListWrapper {
  margin-left: auto;
  margin-right: 38px;
  margin-top: 100px;
  min-width: 115px;
  z-index: 1;
}

.categoriesListRoot {
  position: sticky;
  top: 160px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 960px;
}

.loading {
  margin: 32px 0;
  text-align: center;
}

.itemRoot {
  margin-bottom: 60px;
}
