@use 'styles/breakpoints';

.root {
  width: 100%;
}

.title {
  align-items: center;
  display: inline-flex;
  line-height: 1;
  margin: 0;
  padding: 20px 0;
}

.statusFilterWrapper {
  align-items: center;
  background-color: var(--color-neutral-10);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  padding: 57px 0 20px;
  position: sticky;
  top: 20px;
  width: 100%;
  z-index: 2;

  .categoriesListApprovedInputWrapperChecked {
    --color-checkmark-active: var(--color-success-50);
  }

  .categoriesListFailedInputWrapperChecked {
    --color-checkmark-active: var(--color-error-60);
  }

  &::before {
    background-color: var(--color-neutral-10);
    content: '';
    height: 100%;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    width: 100vw;
    z-index: -1;
  }

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    padding-bottom: 12px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    flex-direction: column;
    padding: 0;
  }
}

/* stylelint-disable-next-line */
.container :global(.infinite-scroll-component__outerdiv) {
  flex-grow: 1;

  @media screen and (max-width: #{breakpoints.$screen-sm}px) {
    flex-grow: 1;
    max-width: 100%;
  }
}

.categoriesListRoot {
  background: var(--color-neutral-10);
  margin-left: -170px;
  position: sticky;
  top: 160px;
  width: 120px;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    margin: 0;
    padding: 15px 0;
    position: static;
    width: auto;
  }
}

.listWrapper {
  flex-grow: 1;
  margin-top: -100px;
  max-width: 100%;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    margin: 0;
  }
}

.loading {
  margin: 32px 0;
  text-align: center;
}

.itemRoot {
  margin-bottom: 60px;
}

.proposalCardWrapper {
  margin-top: 32px;
}

.categoriesListTitle {
  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    display: none;
  }
}
