@import 'styles/typography';

.root {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.tabLink {
  @extend %heading5;
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  font-family: Inter, sans-serif;
  margin-right: 24px;
  padding: 22px 0 8px;
  position: relative;

  transition: color 0.2s ease-out, border-color 0.2s ease-out;

  &.active {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

.actionsCount {
  @extend %subtitle6;
  background-color: var(--color-error-60);
  border-radius: 10px;
  color: var(--color-white);
  line-height: 1.6;
  margin-left: 4px;
  padding: 0 4px;
  position: relative;
}
