.draftInfoItem {
  align-items: center;
  display: flex;
}

.count {
  margin-right: 4px;
}

.icon {
  height: 24px;
  width: 24px;
}

.button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
