@import '../../DaoLinksForm.module';

.root {
  margin-bottom: 18px;
}

.socialIcon {
  color: var(--color-primary-60);
  flex-shrink: 0;
  margin-right: 16px;
}

.deleteBtn {
  color: var(--color-error-70);
  flex-shrink: 0;
  margin-left: 16px;
}

.validationWrapper {
  width: 100%;
}

.errorEl {
  padding-left: 40px;
}
