@use 'styles/breakpoints';
@import 'styles/typography';

.root {
  .name {
    color: var(--color-neutral-60);
    margin-left: 12px;
  }
}

.iconLogo {
  height: 10px;
}

.loggedUserInfo {
  cursor: pointer;
  position: relative;
}

.popup {
  @extend %body2;
  align-items: center;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-neutral-20);
  bottom: -54px;
  color: var(--color-error-80);

  display: flex;
  height: 40px;
  padding-left: 24px;

  position: absolute;
  width: calc(100% + 32px);
  z-index: 1000;
}

.auth {
  transition: box-shadow 0.2s;

  &:hover {
    background-color: var(--color-neutral-90);
    box-shadow: 0 0 40px var(--color-black);
  }
}

@media screen and (max-width: breakpoints.$screen-md - 1px) {
  .popup {
    bottom: -46px;
  }
}

@media screen and (max-width: breakpoints.$screen-sm - 1px) {
  .name {
    display: none;
  }
}
