@import 'styles/mixins';
@import 'styles/typography';

.title {
  @extend %heading3;
  line-height: 48px;
  margin: 0 0 8px;
}

.list {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 77px;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.item {
  &:not(:last-of-type) {
    margin-right: 16px;
  }
}
