@import 'styles/typography';

.daoCard {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  max-width: 458px;
  min-width: 270px;
  padding: 24px;
  position: relative;
  transition: box-shadow 0.4s;
  width: 100%;

  .iconWrapper {
    height: 64px;
    width: 64px;
  }

  .titleCaption {
    padding-top: 8px;
    text-align: center;
  }

  .urlCaption {
    @extend %subtitle3;
    color: var(--color-neutral-50);
    overflow: hidden;
    padding-top: 8px;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    word-break: normal;
  }

  .descriptionCaption {
    @extend %body1;
    min-height: 90px;
    padding-top: 16px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
}

.activeProposals {
  align-items: center;
  background: var(--color-brand-neon-yellow);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  width: fit-content;

  .activeProposalsCaption {
    @extend %title4;
    margin: 0;
    padding: 3px 18px;
  }
}

.membersAndFunds {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  width: 100%;

  .flexContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

.grayCaption {
  @extend %subtitle3;
  color: var(--color-neutral-50);
}

.noMargin {
  margin: 0;
}

.upperCase {
  text-transform: uppercase;
}
