@import 'styles/typography';

.daoCard {
  $border-radius: 8px;

  background-color: var(--color-neutral-10);
  border-radius: $border-radius;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-between;
  max-width: 458px;
  min-width: 270px;
  position: relative;
  transition: box-shadow 0.4s;
  width: 100%;

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-25);
  }

  .header {
    align-items: center;
    display: flex;
  }

  .iconWrapper {
    height: 140px;
    width: 140px;
  }

  .urlCaption {
    @extend %subtitle4;
    color: var(--color-neutral-60);
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    word-break: normal;
  }

  .descriptionCaption {
    @extend %body1;
    min-height: 90px;
    padding: 0 52px;
    text-align: center;
  }

  .createProposal {
    @extend %title3;
    align-items: center;
    background-color: var(--color-brand-green);
    border-radius: 0 0 $border-radius $border-radius;

    display: flex;
    height: 40px;
    justify-content: center;
    text-align: center;
  }
}

.delimiter {
  background-color: var(--color-primary-10);
  height: 1px;
  margin: 18px 32px 12px;
  width: calc(100% - 64px);
}

.activeProposals {
  @extend %title4;

  font-family: Inter, 'sans-serif';
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;

  margin-bottom: 20px;
  text-align: center;

  .activeProposalsNumber {
    font-size: 28px;
    font-weight: 700;
  }
}

.membersAndFunds {
  display: flex;
  padding: 0 52px;
  width: 100%;

  .nearFundsValue,
  .nearFundsSuffix {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

  .nearFundsValue {
    font-weight: 700;
  }

  .usdFundsValue,
  .usdFundsSuffix {
    color: var(--color-neutral-50);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
}

.membersAndFundsContainer {
  @extend %title3;
  display: flex;
  flex-direction: column;
  height: fit-content;

  &:first-of-type {
    margin-right: 90px;
  }
}

.grayCaption {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  margin-bottom: 4px;
}

.noMargin {
  margin: 0;
}

.upperCase {
  text-transform: uppercase;
}

.totalProposals {
  @extend %subtitle6;
  color: var(--color-neutral-60);
  margin-bottom: 20px;
  text-align: center;
}
