@import 'styles/mixins';

.root {
  align-items: flex-start;
  display: flex;

  margin-bottom: 12px;

  padding: 0 12px;
}

.content {
  a {
    color: var(--color-neutral-90);
    margin-bottom: 12px;
  }

  a:hover {
    color: var(--color-primary);
  }

  .link {
    margin-right: 8px;
  }
}

.links {
  display: block;
  margin-top: 12px;
  visibility: hidden;

  @include desktop {
    display: none;
  }

  &.visible {
    visibility: visible;
  }
}

.icon {
  min-width: 24px;
  width: 24px;
}
