@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: flex-start;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;

  @include mobile-only {
    flex-flow: column nowrap;
  }
}

.list {
  width: 25%;

  @include mobile-only {
    margin-bottom: 16px;
    width: 100%;
  }
}

.listTitle {
  @extend %heading4;
  line-height: 36px;
  margin: 0 0 11px 16px;

  @include mobile-only {
    margin-left: 0;
  }
}

.group {
  @extend %title4;
  background: transparent;
  border-left: 1px solid transparent;
  color: var(--color-neutral-60);
  height: 42px;
  max-width: 100%;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.groupActive {
  background: #f4f4f4;
  border-left: 1px solid var(--color-brand-black);
  color: var(--color-brand-black);
}

.content {
  align-items: flex-start;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-left: 36px;
  min-height: 270px;
  padding: 0 32px;
  width: calc(75% - 36px);

  @include desktop-max {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  @include mobile-only {
    margin-left: 0;
    width: 100%;
  }
}

.column {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: flex-start;
  max-height: 100%;
  overflow-y: auto;
  width: 220px;

  @include mobile-only {
    width: 100%;
  }

  &:nth-child(2) {
    margin-left: 48px;

    @include desktop-max {
      margin-left: 0;
    }
  }
}

.contentTitle {
  @extend %caption1;
  color: var(--color-neutral-60);
  margin: 32px 0 2px;
}

.contentTitleSmall {
  margin-bottom: 14px;
}

.infoIcon {
  color: #2079c7;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.popover {
  display: inline;
  margin-left: 6px;
}

.popupArrow::after {
  border-top-color: var(--color-white) !important;
}

.popupWrapper {
  background: var(--color-white);
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
}

.tooltip {
  @extend %caption1;
  color: var(--color-brand-black);
  font-size: 1em;
  white-space: break-spaces;
}

.contentValue {
  @extend %heading4;
  margin-top: 14px;

  @include desktop-max {
    margin-bottom: 0;
    margin-top: 2px;
  }
}

.contentValueName {
  @extend %heading4;
  margin-top: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include desktop-max {
    margin-bottom: 0;
  }
}

.member {
  @extend %body2;
  line-height: 1.2;
  margin: 0 0 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
