@use 'styles/breakpoints';

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  background-size: cover;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 50px;
}

.root {
  background: var(--color-primary-50);
  background-position: center;
  background-size: cover;
  border-radius: 8px 0 0 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 50px;

  &.rejected {
    background: var(--color-error-50);
  }
  &.approved {
    background: var(--color-success-50);
  }
  &.active {
    background: var(--color-primary-50);
  }
}

.iconHolder {
  height: 24px;
  padding-top: 24px;
  width: 24px;
  z-index: 1;
}

.icon {
  color: var(--color-white);
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    align-items: center;
    border-radius: 8px 8px 0 0;
    height: 40px;
    justify-content: flex-start;
    padding-left: 12px;
    width: 100%;
  }

  .iconHolder {
    padding-top: 0;
  }

  .background {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent);
    height: 40px;
    width: 100%;
  }
}
