@import 'styles/typography';

.list {
  display: flex;
  flex-direction: column;
}

.item {
  background: var(--color-primary-80);
  display: flex;
  flex-direction: column;
  padding: 14px 16px 0 24px;

  transition: background-color 0.1s;

  .details {
    @extend %caption1;
    align-self: flex-start;
    color: var(--color-primary-30);
    cursor: pointer;
    margin-left: 20px;
    padding: 0;
    text-transform: capitalize;
    width: fit-content;
  }

  &.selected {
    background-color: var(--color-primary-70);
  }

  &:hover {
    background: var(--color-primary-60);
  }
}

.name {
  @extend %heading3;
  align-items: center;
  color: var(--color-neutral-20);
  display: inline-flex;
  gap: 12px;
  text-transform: capitalize;
}

.counter {
  margin-left: auto;
}

.header {
  align-items: center;
  background-color: var(--color-primary-70);
  color: var(--color-neutral-20);
  cursor: pointer;
  display: inline-flex;
  gap: 12px;
  padding: 19px 16px;
  position: relative;
  width: 100%;

  h3 {
    margin: 0;
  }
}

.expandCollapseElement {
  align-items: center;
  cursor: pointer;

  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 56px;
  z-index: 10;
}

.expandCollapseIcon {
  transform: rotate(-90deg);
  transition: all 100ms;

  &.open {
    transform: none;
  }
}
