@import 'styles/mixins';

.root {
  align-items: flex-start;
  cursor: pointer;
  display: flex;

  input[type='checkbox'] {
    display: none;
  }
}

.labelText {
  @include font(14px, 24px, 400);
  color: var(--color-neutral-60);
  margin: 0 0 0 6px;
  transition: color 0.1s;

  &:hover {
    color: var(--color-neutral-70);
  }
}

.labelText.on {
  color: var(--color-neutral-80);

  &:hover {
    color: var(--color-neutral-80);
  }
}

.mobileList {
  flex-direction: row-reverse;
  justify-content: space-between;

  @include tablet-portrait {
    flex-direction: row;
    justify-content: flex-start;
  }

  .labelText {
    margin: 0 10px 0 0;

    @include tablet-portrait {
      margin: 0 0 0 6px;
    }
  }
}

.groupSwitch {
  flex-direction: row-reverse;
  justify-content: flex-start;

  .labelText {
    @include font(12px, 18px, 400);
    margin: 4px 3px 0 0;
  }
}
