.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  h2 {
    margin: 0 0 16px;
  }
  p {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 552px;
  padding: 12px;
  width: 100%;
}

.footer {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  max-width: 552px;
  width: 100%;
}

.inline {
  display: inline-flex;
}

.gray {
  color: var(--color-neutral-60);
}
