@use 'styles/breakpoints';
@import 'styles/mixins';

.root {
  display: flex;
}

.row {
  align-items: center;
  display: flex;
  white-space: nowrap;

  .iconWrapper {
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.inputWrapper {
  max-width: 160px;

  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */

  input {
    font-weight: 700;
    @include placeholder {
      color: var(--color-neutral-40);
      transition: opacity 0.2s linear;
    }
  }
}

.select {
  flex: 1;
  max-width: fit-content;

  button {
    border: 0;
    overflow: hidden;
  }

  .balance {
    display: none;
    margin-left: auto;
  }

  .row {
    font-family: var(--font-family-primary);
    font-size: 14px;
    width: 100%;
  }
}

.select ul {
  min-width: 260px;
  .balance {
    display: flex;
  }
}

.symbol {
  @include ellipse-text;
  max-width: 120px;
}

.icon {
  background-color: var(--color-brand-black);
  background-position: center;
  background-size: contain;
  height: 24px;
  width: 24px;
}

.divider {
  margin-left: 60px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div:nth-child(3),
    > div:nth-child(4),
    > div:nth-child(5),
    > div:nth-child(6) {
      grid-column: 1 / 3;
      margin-left: 0;
    }
  }

  .select ul {
    min-width: 200px;
    .balance {
      display: flex;
    }
  }
}
