@import 'styles/mixins';
@import 'styles/typography';

.warningWrapper {
  grid-area: warningSection;
  margin-top: 32px;
}

.title {
  @extend %title3;
  margin-bottom: 4px;
}

.text {
  @extend %caption1;
}

.control {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
