@use 'styles/breakpoints';

@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: center;
  background: var(--color-neutral-10);
  border-bottom: 0.5px solid var(--color-brand-purple);
  border-left: 0.5px solid var(--color-brand-purple);
  border-radius: 0 0 7px 7px;
  border-right: 0.5px solid var(--color-brand-purple);
  box-shadow: 3px 2px 24px rgba(123, 97, 255, 0.25);
  color: var(--color-neutral-10);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 80px;
  padding-left: 28px;
  padding-right: 28px;

  @include tablet-portrait {
    flex-direction: row;
  }

  @include astro-desktop {
    align-items: flex-start;
    flex-direction: column;
  }

  @include large-desktop {
    align-items: center;
    flex-direction: row;
  }
}

.topBorder {
  border-radius: 7px;
  border-top: 0.5px solid var(--color-brand-purple);
}

.mainContent {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.transactionDetails {
  align-items: flex-end;
  display: flex;
  flex-basis: 42%;
  justify-content: flex-start;
  width: 100%;

  .detailsItem {
    margin-left: 32px;
  }
}

.infoBlock {
  margin-top: 8px;

  &:first-of-type {
    margin-right: 32px;
  }
}

.warningContainer {
  margin: 8px 0;
}

.warning {
  color: var(--color-error-60);
}

.createDao {
  margin: 8px 0 8px 32px;
}

.row {
  align-items: center;
  color: var(--color-black);
  display: flex;
  white-space: nowrap;

  .iconWrapper {
    //background-color: var(--color-brand-black);
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.inputWrapper {
  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */

  input {
    background-color: var(--color-neutral-10);
    font-weight: 700;
    height: 16px !important;
    padding: 0 !important;
    @include placeholder {
      color: var(--color-neutral-40);
      transition: opacity 0.2s linear;
    }
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    padding: 12px;
  }

  .mainContent {
    flex-direction: column;
  }

  .transactionDetails {
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 24px;

    .detailsItem {
      margin: 0;
    }
  }

  .createDao {
    margin-left: 0;
  }

  .warningContainer ~ .mainContent {
    align-items: flex-end;
  }

  .warningContainer ~ .mainContent .transactionDetails {
    justify-content: flex-end;
  }
}
