@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'header'
    'filter'
    'members';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }

  span {
    @extend %heading2;
    text-transform: capitalize;

    @include tablet-landscape {
      @include font(2em, 48px, 500);
    }
  }
}

.filter {
  grid-area: filter;
  position: relative;
  z-index: 1;
}

.members {
  display: grid;
  grid-area: members;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  place-items: start center;

  @include tablet-portrait {
    grid-template-columns: 1fr 1fr;
  }

  @include tablet-landscape {
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  }
}
