@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-row-gap: 14px;
  grid-template-areas:
    'breadcrumb'
    'dao'
    'header'
    'groups'
    'filter'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }

  h1 {
    margin: 0;
  }
}

.groups {
  grid-area: groups;
  margin-top: 32px;
}

.breadcrumbs {
  grid-area: breadcrumb;
  margin-bottom: 42px;
}

.dao {
  grid-area: dao;
  margin: 16px 0 44px;

  .newProposalWrapper {
    margin-top: 24px;
  }
}

.filter {
  grid-area: filter;
  position: relative;
  z-index: 1;
}

.content {
  display: grid;
  grid-area: content;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  place-items: start center;

  @include tablet-portrait {
    grid-template-columns: 1fr 1fr;
  }

  @include tablet-landscape {
    grid-gap: 48px;
    grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  }

  @include large-desktop {
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  }
}

.createProposal,
.warningWrapper {
  margin-top: 24px;
}
