@import 'styles/typography';

.root {
  @extend %title5;
  align-items: center;
  background: #dae9ff;
  border-radius: 100px;
  color: var(--color-neutral-90);
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 3px 8px;
}
