@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-gap: 12px 0;
  grid-template-areas:
    'letterHeadSection letterHeadSection letterHeadSection'
    '. usersSection followSection'
    'depositSection depositSection depositSection'
    'descriptionSection descriptionSection descriptionSection'
    'linksSection linksSection linksSection';
  grid-template-columns: 1fr 64px 112px;

  margin-bottom: 36px;

  @include tablet-landscape {
    grid-gap: 12px 0;
    grid-template-areas:
      'letterHeadSection letterHeadSection letterHeadSection letterHeadSection letterHeadSection'
      '. depositSection depositSection followSection usersSection'
      '. separator separator separator separator'
      'descriptionSection descriptionSection descriptionSection linksSection linksSection';
    grid-template-columns: 200px 2fr 1fr 124px 64px;
    grid-template-rows: 1fr 40px 1px auto;

    padding-top: 24px;
  }

  @include large-desktop {
    grid-gap: 12px 0;
    grid-template-areas:
      'letterHeadSection letterHeadSection letterHeadSection letterHeadSection letterHeadSection'
      '. depositSection followSection usersSection linksSection'
      '. separator separator separator linksSection'
      'descriptionSection descriptionSection descriptionSection descriptionSection linksSection';
    grid-template-columns: 200px 2fr 124px 80px 1fr;
  }
}

.letterHeadSection {
  background: var(--color-primary-50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: letterHeadSection;
  height: 134px;
  margin: 0 -24px;
  position: relative;

  @include tablet-landscape {
    border-radius: 8px;
    margin: 0;
  }

  .logo {
    left: 0;
    transform: translate(36px, 60px);
  }
}

.depositSection {
  grid-area: depositSection;
  margin-top: 24px;

  @include tablet-landscape {
    border-right: 1px solid var(--color-neutral-30);
    margin-top: unset;
    padding-right: 12px;
  }
}

.followSection {
  grid-area: followSection;
  padding-left: 12px;

  @include tablet-landscape {
    border-right: 1px solid var(--color-neutral-30);
    padding-right: 12px;
  }
}

.separator {
  background-color: var(--color-neutral-30);
  display: none;
  grid-area: separator;

  @include tablet-landscape {
    display: block;
  }
}

.usersSection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: usersSection;
  justify-content: center;
  padding: 0 0 0 12px;
}

.label {
  @extend %caption2;
  color: var(--color-neutral-60);

  &::first-letter {
    text-transform: capitalize;
  }
}

.value {
  @extend %title4;
}

.descriptionSection {
  @extend %body1;
  color: var(--color-black);
  grid-area: descriptionSection;
  padding: 12px 0;
  text-align: left;

  @include tablet-landscape {
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 28px 36px;
  }
}

.linksSection {
  display: flex;
  flex-direction: column;
  grid-area: linksSection;
  overflow: hidden;
  padding: 0;

  @include tablet-landscape {
    align-items: flex-start;
    margin-top: 0;
    padding: 0 0 0 12px;
  }
}

.link {
  @include ellipse-text;
  border: 1px solid var(--color-neutral-30);
  border-radius: 4px;
  margin-bottom: 0;
  max-width: 100%;
  padding: 10px 12px;

  @include tablet-landscape {
    border: 0;
    margin-bottom: 4px;
    padding: 0;
  }
}

.root.hideFollow {
  .usersSection {
    grid-area: followSection;
  }
}
