@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-template-areas:
    'letterHeadSection'
    'followSection'
    'depositSection'
    'usersSection'
    'descriptionSection'
    'linksSection';
  grid-template-columns: 1fr;
  padding-top: 24px;

  @include tablet-landscape {
    grid-gap: 17px 0;
    grid-template-areas:
      'letterHeadSection letterHeadSection letterHeadSection letterHeadSection'
      'usersSection buttonsSection buttonsSection buttonsSection'
      'descriptionSection descriptionSection descriptionSection linksSection';
    grid-template-columns: 216px 1fr 1fr 200px;
  }
}

.letterHeadSection {
  background: var(--color-primary-50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: letterHeadSection;
  height: 134px;
  margin: 0 -24px;
  position: relative;

  @include tablet-landscape {
    border-radius: 8px;
    margin: 0;
  }

  .logo {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 60px);

    @include tablet-landscape {
      left: 0;
      transform: translate(36px, 60px);
    }
  }
}

.buttonsSection {
  display: flex;
  flex: 1;
  grid-area: buttonsSection;
  justify-content: space-around;
}

.alignRight {
  justify-content: flex-end;
}

.usersSection {
  align-items: center;
  display: flex;
  grid-area: usersSection;
  justify-content: flex-start;
  padding: 20px 24px 0;

  @include tablet-landscape {
    min-height: 120px;
    padding: 74px 24px 0;
  }
}

.label {
  @extend %subtitle1;
  color: var(--color-neutral-60);

  &::first-letter {
    text-transform: capitalize;
  }
}

.value {
  @extend %title1;
}

.descriptionSection {
  @extend %body1;
  color: var(--color-black);
  grid-area: descriptionSection;
  padding: 20px 24px 0;
  text-align: left;

  @include tablet-landscape {
    margin-top: 0;
    padding: 0 24px 0 0;
  }
}

.linksSection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: linksSection;
  padding: 20px 24px 0;

  @include tablet-landscape {
    align-items: flex-start;
    margin-top: 0;
  }
}
