@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-template-areas:
    'dao'
    'title'
    'content';
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.content {
  align-items: center;
  display: grid;
  grid-area: content;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  width: 100%;

  @include tablet-landscape {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
}

.titleRow {
  @extend %heading1;
  grid-area: title;
  margin-top: 12px;

  @include tablet-portrait {
    margin-bottom: 16px;
  }
}
