@import 'styles/mixins';
@import 'styles/typography';

.btn {
  color: var(--color-neutral-50);

  &:hover {
    color: var(--color-primary-50);
  }
}

.popup {
  display: none;

  @include non-touch-devices {
    display: block;
  }
}

.notification {
  @extend %subtitle6;
  align-items: center;
  background: var(--color-error-60);
  border-radius: 24px;
  color: var(--color-white);
  display: flex;
  height: 16px;
  justify-content: center;
  padding: 2px 4px;
  position: absolute;
  right: -2px;
  top: -5px;
  white-space: nowrap;
}
