@import '../../../styles/mixins';

.btn {
  color: var(--color-neutral-50);

  &:hover {
    color: var(--color-primary-50);
  }
}

.popup {
  display: none;

  @include non-touch-devices {
    display: block;
  }
}
