@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  background-color: var(--color-primary-10);
  border: 1px solid;
  border-color: var(--color-neutral-20);
  border-radius: 22px;
  display: flex;
  margin-bottom: 8px;
  padding: 10px 16px;
  width: 100%;
}
