@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  background-color: var(--color-neutral-20);
  border: 1px solid;
  border-color: var(--color-neutral-60);
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 10px 16px;
  width: 100%;
}

.selected {
  border-color: var(--color-primary-50);
}

.content {
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy {
  margin: 0 4px;
}

.selectedIndicator {
  background-color: var(--color-success-50);
  border-radius: 50%;
  height: 8px;
  margin-left: auto;
  min-width: 8px;
  width: 8px;
}
