@import 'styles/mixins';

.root {
  background-image: linear-gradient(
    to right,
    var(--color-neutral-50) 50%,
    transparent 50%
  );
  background-position: center;
  background-repeat: repeat-x;
  background-size: 12px 3px;
  height: 3px;
  margin: 10px -24px;
  width: calc(100% + 48px);

  @include desktop {
    margin: 10px -40px;
    width: calc(100% + 80px);
  }

  @include large-desktop {
    margin: 10px -111px;
    width: calc(100% + 222px);
  }
}
