@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.noNotiesContainer {
  @extend %title3;
  align-items: center;

  color: var(--color-neutral-50);
  display: flex;
  flex-direction: column;

  margin: 24px 0;
}

.noNotiesIcon {
  margin-bottom: 12px;
  width: 104px;

  &.big {
    width: 168px;
  }
}

.loading {
  margin: 24px 0;
  min-height: unset;
  svg {
    width: 280px;
  }
}

.delimiter {
  @extend %caption2;
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  margin: 24px 0;

  &:first-of-type {
    margin-top: 0;
  }

  .line {
    background-color: #e9edec;
    flex: 1;
    height: 1px;
    margin: 0 4px;
  }
}

.notification {
  margin-bottom: 8px;
}
