.icon-button {
  background: transparent center / contain no-repeat;
  border: 0;
  color: var(--color-primary-50);
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  outline: 0;
  padding: 0;
}

.icon-button:active {
  color: var(--color-primary-60);
}

.icon-button.small {
  height: 16px;
  width: 16px;
}

.icon-button.medium {
  height: 24px;
  width: 24px;
}

.icon-button.large {
  height: 40px;
  width: 40px;
}
