.iconButton {
  background: transparent center / contain no-repeat;
  border: 0;
  color: var(--color-primary-50);
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  outline: 0;
  padding: 0;
}

.iconButton:active {
  color: var(--color-primary-60);
}

.iconButton.small {
  height: 16px;
  width: 16px;
}

.iconButton.medium {
  height: 24px;
  width: 24px;
}

.iconButton.large {
  height: 40px;
  width: 40px;
}

.iconButton:disabled,
.iconButton[disabled] {
  color: var(--color-neutral-80);
  cursor: not-allowed;
}
