@use 'styles/breakpoints';
@import 'styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.categoryFilter {
  flex-shrink: 0;
  margin-bottom: 30px;

  @include large-desktop {
    margin: 0;
  }
}

.container {
  margin-top: 70px;

  @media screen and (min-width: #{breakpoints.$screen-lg + 1}px) {
    display: flex;
  }
}

.feed {
  width: 100%;
}

.proposalCardWrapper {
  margin: 30px 0 80px;
}
