@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.categoryFilter {
  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    margin: 0 0 30px;
  }
}

.container {
  margin-top: 70px;

  @media screen and (min-width: #{breakpoints.$screen-lg + 1}px) {
    display: flex;
  }
}

.proposalCardWrapper {
  margin: 30px 0 80px;
}
