@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.categoryFilter {
  margin-bottom: -220px;
  margin-left: -170px;
  position: sticky;
  top: 160px;
  width: 120px;
  z-index: 1;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    margin: 0 0 30px;
    padding: 15px 0;
    position: static;
    width: auto;
  }
}

.container {
  margin-top: 70px;
}

.proposalCardWrapper {
  margin-bottom: 80px;
}
