@use 'styles/breakpoints';
@import 'styles/typography';

.nav {
  align-items: center;
  color: var(--color-white-opacity-5);
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  gap: 9px;
  line-height: 24px;
  width: 100%;

  &.active {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-50);
    color: var(--color-white);
  }

  svg {
    margin-top: 2px;
  }
}

.badge {
  margin-left: auto;
}

@media screen and (max-width: breakpoints.$screen-md - 1px) {
  .topDelimiter {
    border-top: 1px solid var(--color-white-opacity-5);
  }
}
