@import 'styles/typography';

.root {
  background-color: var(--color-brand-purple);
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 4px 8px 3px;
  z-index: 10000;
}

.date {
  @extend %subtitle5;
  color: var(--color-white);
  white-space: nowrap;
}

.group {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.label {
  @extend %caption2;
  color: var(--color-white);
  white-space: nowrap;
}

.value {
  @extend %subtitle5;
  color: var(--color-white);
  margin-left: 4px;
}
