@import 'styles/mixins';
@import 'styles/typography';

.form {
  display: flex;
  //flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 100%;

  //@include tablet-landscape {
  //  flex-direction: row;
  //  justify-content: space-evenly;
  //}
}
