// stylelint-disable
.root {
  :global .cropper-face.cropper-move {
    background: url('/flag-mask.svg');
    background-size: contain;
    opacity: 1;
  }

  :global .cropper-container {
    width: 100vw;
    height: 100vw;
  }
}
