@import 'styles/mixins';
@import 'styles/typography';

.proposalLink {
  @extend %body2;

  align-items: center;
  color: var(--color-brand-purple);
  display: flex;
  margin-top: 8px;

  .icon {
    height: 16px;
    margin-right: 8px;
    width: 16px;
  }
}

.label {
  @extend %subtitle6;
}

.value {
  @extend %body2;
}

.left {
  display: flex;
  justify-content: flex-start;
}
