@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 56px 0 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    flex-direction: column;
    padding: 0;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;

  @media screen and (max-width: #{breakpoints.$screen-lg}px) {
    margin: 0;
  }
}

.loader {
  width: 100%;
}

.loading {
  margin: 32px 0;
  text-align: center;
}

.noResults {
  padding: 24px 0;
}

.status {
  width: 32px;
}

.listTitleWrapper {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 12px;
  position: relative;
  white-space: nowrap;
  &::after {
    background: var(--color-neutral-50);
    content: '';
    height: 1px;
    margin-left: 8px;
    width: 100%;
  }
}

.title {
  @extend %subtitle4;
  margin-right: 2px;
}

.count {
  @extend %subtitle3;
}
