@import 'styles/mixins';

.grid {
  display: grid;
  flex-shrink: 1;
  grid-template-areas: 'icon token';
  grid-template-columns: 44px auto;
  padding: 12px;
}

.root {
  background-color: var(--color-neutral-10);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  cursor: pointer;
}

.active {
  border-color: var(--color-neutral-60);
  box-shadow: 3px 2px 24px var(--color-black-opacity-25);
}

.iconContainer {
  align-items: center;
  display: flex;
  grid-area: icon;

  .iconWrapper {
    height: 32px;
    width: 32px;
  }

  .iconWrapper svg {
    color: var(--color-brand-black);
  }

  .icon {
    background-color: var(--color-brand-black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.token {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: token;
  justify-content: center;
}

.tokenBalance {
  @include font(18px, 24px, 700);

  .tokenName {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.totalValue {
  @include font(12px, 18px, 500);
  align-items: center;
  color: var(--color-neutral-50);
  //height: 18px;
}
