@import 'styles/typography';

.all,
.activeProposals,
.approvedProposals,
.failedProposals {
  @extend %subtitle3;
}

.activeProposals {
  color: var(--color-primary-50);
}

.approvedProposals {
  color: var(--color-brand-green);
}

.failedProposals {
  color: var(--color-brand-coral-red);
}

.icon {
  cursor: pointer;
  transition: transform 0.5s;
  width: 16px;
}
