.root {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.label {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
  padding-left: 5px;
  text-align: right;
}

.value {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
