@import 'styles/typography';
@import 'styles/mixins';

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  margin: 56px 0 48px;

  h1 {
    margin: 0;
  }
}

.changeButton {
  margin-left: 35px;
  margin-top: 24px;
  text-transform: none;
  width: 100%;

  @include tablet-portrait {
    margin-top: 0;
    width: auto;
  }
}

.groupsWrapper {
  background: var(--color-neutral-10);
  border-radius: 4px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px 16px;
}

.separator {
  background-color: var(--color-neutral-20);
  height: 1px;
  margin: 40px 0 32px;
  width: 100%;
}

.policyWrapper {
  .policyLabel {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    margin-bottom: 12px;
  }

  .policy {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
  }

  .bold {
    font-weight: bold;
  }
}
