@import 'styles/typography';
@import 'styles/mixins';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.changeButton {
  display: none;
  @include tablet-portrait {
    display: block;
  }
}

.groupsWrapper {
  background: var(--color-white);
  border: 1px solid var(--color-neutral-20);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 16px;
}

.policyWrapper {
  margin-top: 32px;

  .policyLabel {
    @extend %subtitle4;
    color: var(--color-neutral-60);
    margin-bottom: 12px;
  }

  .policy {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
  }

  .bold {
    font-weight: bold;
  }
}
