@use 'styles/breakpoints';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.row {
  @extend %title4;
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.bar {
  background-color: var(--color-neutral-50);
  height: 16px;
  &.yes {
    background-color: var(--color-success-50);
  }
  &.no {
    background-color: var(--color-error-50);
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .row {
    flex-flow: row-reverse;
  }
}
