@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 2fr 110px 120px 1fr;
  margin-bottom: 4px;
}

.proposerCell {
  display: flex;
  margin-bottom: 24px;
}

.amountBalance {
  margin-top: -24px;
}
