@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.error {
  @extend %caption1;
  color: var(--color-error-70);
  font-size: 12px;
  margin-top: 8px;

  &::first-letter {
    text-transform: capitalize;
  }
}
