@import 'styles/mixins';

.draftManagement {
  display: flex;
  flex-wrap: wrap;
  @include tablet-landscape {
    flex-wrap: nowrap;
  }
}

.button {
  margin: 0 12px 12px 0;
  @include tablet-landscape {
    margin: 0 12px 0 0;
  }
}
