@import 'styles/typography';

.tooltip {
  background-color: var(--color-white);

  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  padding: 12px 16px;

  position: relative;
}

.dot {
  margin: 4px 6px 0 0;
}

.label {
  @extend %title5;
  color: var(--color-neutral-70);
  margin: 0 0 10px;
}

.name {
  color: var(--color-grey-100);
  margin: 0 4px 0 0;
}

.element {
  align-content: center;
  display: flex;
}

.value {
  @extend %title4;
  color: var(--white);
  display: flex;
  font-weight: 500;
  justify-content: flex-end;
  margin: 0 4px 0 0;
  &.right {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
