@import 'styles/mixins';

.root {
  display: flex;
  gap: 8px;
}

.row {
  align-items: center;
  display: flex;
  white-space: nowrap;

  .iconWrapper {
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.inputWrapper {
  //max-width: 120px;

  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */

  input {
    font-weight: 700;
    @include placeholder {
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}

.wide {
  flex: 1;
}

.narrow {
  max-width: 60px;
}

.select {
  flex: 1;
  max-width: fit-content;

  button {
    border: 0;
    overflow: hidden;
  }
}

.symbol {
  @include ellipse-text;
  max-width: 120px;
}
