@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

$search-max-width: 768;

/* stylelint-disable */
:export {
  searchMaxWidth: $search-max-width;
  navMobileWidth: #{breakpoints.$screen-mobile};
}
/* stylelint-enable */

.root {
  align-items: center;
  background: var(--color-neutral-20);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  max-width: none;
  overflow: hidden;
  padding-left: 12px;
  position: relative;
  transform: translateZ(0);
  transition: all 0.2s ease-out;
  width: 100%;

  .iconHolder .icon {
    color: var(--color-brand-purple);
  }
}

.anchor {
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.iconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;

  .icon {
    color: var(--color-neutral-60);
    width: 24px;
  }
}

.closeIconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;

  .icon {
    color: var(--color-neutral-50);
    height: 16px;
    width: 16px;
  }
}

.input {
  @extend %body1;
  @include ellipse-text;

  background: transparent;
  border-width: 0;
  color: var(--color-brand-black);
  flex: 1;
  font-family: var(--font-family-primary);
  margin: 8px 12px 8px 0;
  outline: none;

  @include placeholder {
    color: var(--color-neutral-60);
  }
}

.hint {
  //@extend %caption1;
  background: var(--color-neutral-10);
  border-radius: 8px;
  box-shadow: 0 8.89583px 30px rgba(0, 0, 0, 0.14);
  color: var(--color-neutral-60);
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  max-height: 50vh;
  overflow: auto;
  padding: 8px 16px;
  width: 100%;

  .hintTitle {
    @extend %subtitle4;
    color: var(--color-neutral-80);
    margin: 8px 0;
  }

  .hintText {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    margin: 8px 0;
  }

  .hintButton {
    @extend %caption1;
    height: 30px;
    min-height: 30px;
    padding: 4px;
    text-align: left;
  }

  .hintButton:hover {
    background-color: var(--color-neutral-20);
  }
}

.loader {
  color: var(--color-primary-50);
  margin: 0;
}

.inputWrapper {
  align-items: center;
  background-color: var(--color-neutral-10);
  display: flex;
  height: var(--app-header-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 110;
}
