@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'breadcrumb'
    'dao'
    'header'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  grid-area: header;

  h1 {
    margin: 0;
  }
}

.breadcrumbs {
  grid-area: breadcrumb;
}

.dao {
  grid-area: dao;
  margin: 0 0 44px;
}

.warningWrapper {
  margin-top: 32px;
}

.content {
  display: grid;
  grid-area: content;
  grid-auto-flow: dense;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 296px);
  padding-top: 48px;
}

.createProposal {
  margin-top: 56px;

  @include tablet-landscape {
    margin-top: 32px;
  }
}
