@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'breadcrumb'
    'dao'
    'header'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  grid-area: header;

  h1 {
    margin: 0;
  }
}

.breadcrumbs {
  grid-area: breadcrumb;
  margin-bottom: 18px;
}

.dao {
  grid-area: dao;
  margin: 16px 0 44px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  grid-area: content;
  justify-content: center;
  padding-top: 48px;

  @include tablet-landscape {
    justify-content: flex-start;
  }
}

.card {
  height: 424px;
  padding-bottom: 24px;
  padding-right: 24px;
  width: 296px;
}

.createProposal {
  margin-top: 56px;

  @include tablet-landscape {
    margin-top: 32px;
  }
}
