@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  background-color: var(--color-white);
  border-radius: 0 8px 8px 0;
  box-shadow: 3px 2px 24px var(--color-black-opacity-14);
  display: grid;
  grid-row-gap: 22px;
  grid-template-areas:
    'countdown'
    'proposalType'
    'proposer'
    'progress'
    'description'
    'content'
    'voteControl';
  grid-template-columns: 1fr;
  padding: 22px 20px;
  position: relative;
  transition: box-shadow 0.3s ease-out;
  z-index: 1;

  @include tablet-landscape {
    grid-template-areas:
      'proposalType proposalType countdown'
      'proposer proposer .'
      'progress progress progress'
      'description description description'
      'content content voteControl';
    grid-template-columns: 1fr 2fr 3fr;
    padding: 22px 30px;
  }

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-25);
  }
}

.signingTransactionState {
  @extend %title3;
  @include centralize;
  backdrop-filter: blur(3px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.controlValue {
  @extend %title3;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  .bold {
    font-weight: 700;
  }
}

.controlItem {
  @include tablet-landscape {
    &:not(:first-of-type) {
      margin-left: 12px;
    }
  }
}

.span {
  grid-column: 1/3;
}

.voting {
  justify-content: space-around;
}

.controlButton {
  justify-content: flex-start;

  @include tablet-landscape {
    justify-content: flex-end;
  }
}

.toggleBtn {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 60px;
  padding: 0 8px;

  &:hover {
    background-color: var(--color-neutral-20);
  }
}

.toggleCommentsButton {
  color: var(--color-neutral-60);
  margin-right: 8px;
  width: 16px;

  &.active {
    color: var(--color-primary-50);
  }
}

.button {
  padding: 0 8px;
  text-transform: capitalize;
  white-space: nowrap;

  @include tablet-landscape {
    padding: 0 12px;
  }
}

.unclaimBtn {
  border: 1px solid var(--color-error-70);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 0 0 20px var(--color-error-70);
  }
}

.completeBtn {
  background-color: var(--color-success-50);
  color: var(--color-black);

  &:hover {
    box-shadow: 0 0 20px var(--color-success-50);
  }
}

.voteProgress {
  border-radius: 0 0 8px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.actionBar {
  display: flex;
  left: unset;
  position: absolute;
  right: 12px;
  top: -30px;

  @include tablet-landscape {
    display: none;
    left: 100%;
    right: auto;
    top: 0;
  }
}

.root:hover .actionBar {
  display: block;
}

.voteControlCell {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;

  @include tablet-landscape {
    align-items: flex-end;
    display: flex;
    grid-area: voteControl;
    justify-content: flex-end;
  }
}

.btnWrapper {
  //grid-area: btnWrapper;
  //margin-top: 24px;
}

.proposalStatusSeal {
  height: 124px;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 124px;
}

.countdownCell {
  @extend %title4;
  align-items: flex-end;
  color: var(--color-brand-purple);
  display: flex;
  flex-direction: column;
  grid-area: countdown;
  justify-self: end;

  .finalizeButton {
    margin-top: 8px;
    text-transform: capitalize;
  }
}

.proposalCell {
  display: flex;
  grid-area: proposalType;
  overflow: hidden;
  text-overflow: ellipsis;
}

.proposalContentCell {
  grid-area: content;
}

.proposalTypeAndLink {
  align-items: center;
  display: flex;
}

.proposalValue {
  @extend %title1;
}

.proposalWalletLink {
  padding-left: 15px;
}

.proposalType {
  @include ellipse-text;
  align-items: center;
  display: flex;
}

.proposerCell {
  display: flex;
  flex-direction: column;
  grid-area: proposer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipse {
  @include ellipse-text;
}

.progressCell {
  display: flex;
  grid-area: progress;
}

.proposerLabel {
  @extend %caption1;
  padding-bottom: 6px;
}

.text {
  @extend %title3;
}

.contentCell {
  grid-area: content;
}

.descriptionCell {
  grid-area: description;

  .proposalDescription {
    line-height: 1.2;
  }
}

.iconWrapper {
  @include centralize;
  background-color: var(--color-primary-20);
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.externalLink {
  padding-left: 10px;
}

.icon {
  color: var(--color-primary-50);
  height: 14px;
  width: 14px;
}

.proposalExternalLink {
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}

.iconWrapper {
  box-shadow: 3px 2px 12px var(--color-primary-30);
}

.externalLink {
  text-shadow: 3px 2px 12px var(--color-primary-30);
}

.timestampLabel {
  color: var(--color-neutral-60);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;

  .label.approved {
    color: var(--color-success-50);
  }
  .label.rejected {
    color: var(--color-error-50);
  }
}

.errorLabel {
  color: var(--color-error-70);
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .proposalCell {
    width: 100%;

    div {
      width: 100%;
    }
  }

  .proposalType {
    width: 100%;
  }

  .proposalWalletLink {
    display: flex;
  }
}
