@import 'styles/mixins';

.root {
  margin-top: 24px;

  .row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;

    @include tablet-portrait {
      margin-bottom: 0;
    }
  }

  .row h1 {
    margin: 32px 0;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-portrait {
      width: auto;
    }
  }
}
