@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: flex;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  height: 80px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar {
  background-color: var(--color-success-10);
  height: 6px;
  width: 100%;

  &.error {
    background-color: var(--color-error-10);
  }
}

.itemWrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.label {
  @extend %caption1;
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
}

.infoIcon {
  margin-left: 4px;
}

.tooltip {
  display: inline-block;
  width: 120px;
  z-index: 10;
}

.line {
  background-color: var(--color-neutral-40);
  height: 44px;
  width: 1px;

  &.showGoal {
    background-color: var(--color-brand-green);
  }
}

.valueBadge {
  @extend %body2;
  @include centralize;
  background-color: var(--color-neutral-30);
  border-radius: 0 2px 2px;
  display: inline-flex;
  padding: 2px 12px;

  &.errorReason {
    background-color: var(--color-error-10);
    color: var(--color-brand-coral-red);
  }
}

.itemWrapper.leftOriented {
  .label,
  .valueBadge {
    border-radius: 2px 0;
    transform: translateX(-100%);
  }
  .votingGoal {
    transform: translateX(-100%);
  }
}

.votingGoal {
  @extend %body2;
  @include centralize;
  background-color: var(--color-brand-green);
  border-radius: 3px;
  color: var(--color-white);
  font-weight: 600;
  padding: 2px 4px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.content.error {
  .bar {
    background-color: var(--color-error-10);
  }
  .votingGoal {
    background-color: var(--color-brand-coral-red);
  }
  .line.showGoal {
    background-color: var(--color-brand-coral-red);
  }
}
