@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-template-areas:
    'breadcrumbs'
    'title'
    'filter'
    'settings';
  grid-template-columns: 1fr;
  padding-top: 56px;
  row-gap: 24px;

  @include large-desktop {
    grid-template-areas:
      'breadcrumbs breadcrumbs'
      'title title'
      'filter settings';
    grid-template-columns: 1fr 3fr;
  }
}

.breadcrumbs {
  grid-area: breadcrumbs;
}

.title {
  @extend %heading1;
  grid-area: title;
}

.sideFilter {
  grid-area: filter;
  top: calc(var(--app-header-height) - 1px);
  @include large-desktop {
    max-width: 240px;
    top: 102px;
  }
}

.settings {
  grid-area: settings;
}

.group {
  @include card-shadow;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: -24px;
  padding: 0;
  width: calc(100% + 48px);

  @include tablet-portrait {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
}

.groupHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  position: relative;

  &::after {
    background-color: var(--color-neutral-30);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.groupTitle {
  @include font(16px, 24px, 500);
}
