@import 'styles/typography';

.hashtagInput {
  @extend %subtitle5;
  background: var(--color-white);
  border: 1px solid var(--color-neutral-50);
  border-radius: 100px;
  caret-color: var(--color-primary-40);
  color: var(--color-neutral-90);
  margin-right: 10px;
  min-width: 110px;
  padding: 3px 8px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--color-neutral-50);
  }
}

.widthMeter {
  @extend %subtitle5;
  opacity: 0;
  padding: 3px 8px;
  position: absolute;
  white-space: pre;
  z-index: -100;
}

.tagRemove,
.tagValue {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.tagValue {
  margin-right: 15px;
}

.tagRemove {
  color: var(--color-neutral-50);
  display: flex;
  height: 9px;
  width: 9px;
}

.tag {
  @extend %subtitle5;
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 3px 8px;
  &:last-child {
    margin-right: 0;
  }
}
