@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'header'
    'groups'
    'filter'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
  }

  h1 {
    margin: 0 24px 0 0;
  }

  > button {
    margin-right: 24px;
  }
}

.groups {
  grid-area: groups;
  margin-top: 32px;
}

.filter {
  grid-area: filter;
  position: relative;
  z-index: 1;
}

.content {
  display: grid;
  grid-area: content;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  place-items: start center;

  @include tablet-portrait {
    grid-template-columns: 1fr 1fr;
  }

  @include tablet-landscape {
    grid-gap: 48px;
    grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  }

  @include large-desktop {
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  }
}
