@import 'styles/typography';
@import 'styles/mixins';

.root {
  align-items: center;
  display: flex;
  margin: 0;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 24px 12px 24px 24px;
  scrollbar-width: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.card {
  height: 100%;
  margin-right: 12px;
  max-width: 200px;
  padding: 12px;
}

.cardPanel {
  height: 100%;
  width: 100%;
}

.cardTitle {
  @extend %caption1;
}

.trend {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}

.value {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
}

.disabled {
  cursor: default !important;
  filter: blur(1px);
  opacity: 0.5;
}

.active {
  cursor: default;
  filter: unset;
}
