@import 'styles/mixins';

.root {
  background-color: var(--color-white);
  height: 56px;
  position: sticky;
  top: var(--app-header-height);
  width: 100%;
  z-index: 100;
}

.main.main {
  border-bottom: 1px solid var(--color-neutral-30);
  height: 100%;
  padding-bottom: 0;
}

.createProposalButton {
  @include centralize;
  display: none;
  height: 32px;
  min-height: 32px;

  @include desktop {
    display: flex;
  }
}

.icon {
  width: 24px;
}
