@import 'styles/typography';
@import 'styles/mixins';

.root {
  color: var(--color-neutral-60);
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 48px 2fr 160px 1fr;
  margin-bottom: 32px;

  white-space: nowrap;
}

.index {
  @extend %subtitle3;
  @include centralize;
}

.name {
  align-items: center;
  display: flex;
}

.details {
  max-width: 265px;
}

.daoName {
  @extend %title3;
  @include ellipse-text;
  color: var(--color-black);
}

.address {
  @extend %caption1;
  align-items: center;
  color: var(--color-neutral-60);
  display: block;
  word-break: break-all;
}

.addressId {
  display: inline;
}

.copyAddress {
  display: inline-block;
  margin-left: 6px;
}

.proposals {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .value {
    @extend %title3;
    color: var(--color-black);
  }
}

.trend {
  @extend %title5;
  @include centralize;
  grid-area: trend;
  justify-content: flex-start;

  &.positive {
    color: var(--color-brand-green);
  }

  &.negative {
    color: var(--color-brand-coral-red);
  }
}

.trendIcon {
  width: 12px;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
