@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'allTokens allTokens'
    'token token'
    'sendTokens sendTokens'
    'chart chart'
    'label filter'
    'transactions transactions'
    'pagination pagination';
  grid-template-columns: 1fr 1fr;
  padding-top: 56px;

  @include tablet-landscape {
    grid-row-gap: 40px;
    grid-template-areas:
      'allTokens allTokens'
      'token sendTokens'
      'chart chart'
      'label filter'
      'transactions transactions'
      'pagination pagination';
    grid-template-columns: 2fr 1fr;
  }
}

.icon {
  transition: all 0.5s;
  width: 24px;
}

.back {
  @extend %title3;
  align-items: center;
  color: var(--color-primary-50);
  display: flex;
  grid-area: allTokens;

  .icon {
    margin-right: 7px;
  }
}

.token {
  align-items: center;
  align-self: center;
  display: flex;
  grid-area: token;
  justify-self: start;
}

.send {
  @extend %subtitle2;
  color: var(--color-brand-black);
  grid-area: sendTokens;
  justify-self: end;
  width: 100%;

  @include tablet-landscape {
    width: auto;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-landscape {
      min-width: auto;
    }
  }
}

.chart {
  background-color: var(--color-white);
  border-radius: 8px;
  grid-area: chart;
  padding-top: 20px;
}

.label {
  @extend %heading3;
  align-self: center;
  grid-area: label;

  @include tablet-landscape {
    @include font(1.5em, 36px, 500);
  }
}

.transactions {
  grid-area: transactions;

  button {
    text-transform: none;
  }
}

.pagination {
  grid-area: pagination;
  justify-self: center;
}

.row {
  height: fit-content;
  margin: 0 0 16px;
  padding: 0;
}

.filter {
  @extend %title3;
  align-items: center;
  color: var(--color-primary-50);
  display: flex;
  grid-area: filter;
  justify-content: flex-end;
  padding: 0;
  text-transform: none;

  .icon {
    margin-left: 7px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.chartCaption {
  display: flex;
  flex-direction: column;

  .chartLabel {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    margin-bottom: 4px;
  }

  .chartValue {
    @extend %subtitle1;
    color: var(--color-neutral-90);
  }
}
