@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: block;
}

.header {
  @include centralize;

  h2 {
    margin: 0 14px;
  }
}

.content {
  color: var(--color-neutral-90);
  margin-top: 40px;
}

.deadline {
  margin-top: 32px;

  .label {
    @extend %subtitle5;
    color: var(--color-neutral-60);
  }

  .value,
  p {
    @extend %body1;
  }
}

.warning {
  align-items: flex-start;
  display: flex;
  margin-top: 32px;

  .icon {
    min-width: 24px;
    width: 24px;
  }

  .label {
    @extend %subtitle5;
    color: var(--color-neutral-60);
  }

  .value,
  p {
    @extend %body1;
    margin: 0;
  }

  &.success {
    color: var(--color-success-70);
  }

  &.error {
    color: var(--color-error-70);
  }
}

.important-content {
  background: var(--color-primary-80);
  color: var(--color-white);
  margin: 30px -48px 0;
  padding: 32px 48px;

  .subtitle {
    @extend %subtitle5;
  }

  .value-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
  }

  .value-wrapper .value {
    @extend %title2;
  }

  .value-wrapper .desc {
    @extend %subtitle2;
  }

  .text {
    @extend %caption1;
    margin-top: 16px;
  }
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: flex-end;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: space-between;
  }
}
