@import 'styles/typography';
@import 'styles/mixins';

.root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.name {
  align-items: center;
  display: flex;
}

.flag {
  margin-right: 12px;
}

.details {
  margin-left: 12px;
  width: 265px;
}

.daoName {
  @extend %title3;
  @include ellipse-text;
  color: var(--color-black);
}

.address {
  @extend %caption1;
  align-items: center;
  color: var(--color-neutral-60);
  display: block;
  width: fit-content;
  word-break: break-all;
}

.addressId {
  margin-right: 6px;
}

.close {
  color: var(--color-neutral-60);
  margin-right: 12px;

  &:hover {
    color: var(--color-primary-50);
  }
}

.navButton {
  margin-top: 24px;
  text-transform: unset;
  width: 100%;

  @include tablet-landscape {
    margin-left: auto;
    margin-top: 6px;
    width: auto;
  }
}
