@import 'styles/typography';

.imageWrapper {
  height: 424px;
  overflow: hidden;
  position: relative;
  width: 296px;
}

.image {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.description {
  padding: 16px 16px 12px;
}

.name {
  @include font(24px, 28px, 700);
  @include ellipse-text;
  height: 28px;
  text-align: center;
}

.collection {
  @include font(14px, 24px, 400);
  @include ellipse-text;
  height: 24px;
  margin-top: 4px;
  text-align: center;
}

.info {
  @include centralize;
  height: 24px;
  justify-content: space-between;
  margin-top: 16px;
}

.contract {
  @include font(12px, 18px, 400);
  @include ellipse-text;
  margin-right: 4px;
}

.preloader,
.error {
  align-items: center;
  background-color: var(--color-primary-10);
  border: 1px solid var(--color-neutral-50);
  border-radius: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.preloader {
  background-color: var(--color-primary-10);
}

.error {
  @extend %subtitle5;
  border-color: var(--color-error-50);
  color: var(--color-error-50);
}

.preloaderIcon {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}

.preloaderIcon div {
  animation: preloader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  background: var(--color-brand-purple-light);
  display: inline-block;
  left: 8px;
  position: absolute;
  width: 16px;
}

.preloaderIcon div:nth-child(1) {
  animation-delay: -0.24s;
  left: 8px;
}

.preloaderIcon div:nth-child(2) {
  animation-delay: -0.12s;
  left: 32px;
}

.preloaderIcon div:nth-child(3) {
  left: 56px;
}

@keyframes preloader {
  0% {
    height: 64px;
    top: 8px;
  }
  50%,
  100% {
    height: 32px;
    top: 24px;
  }
}
