@import 'styles/typography';

.root {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  height: 430px;
  position: relative;
  width: 296px;
}

.link {
  display: block;
  height: 100%;
  transition: box-shadow 0.4s;
  width: 100%;

  &:hover {
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.06);
  }
}

.actions {
  position: absolute;
  right: 4px;
  top: 8px;
}

.imageWrapper {
  height: 296px;
  width: 296px;
}

.image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.description {
  padding: 16px 16px 12px;
}

.name {
  @include font(24px, 28px, 700);
  @include ellipse-text;
  height: 28px;
  text-align: center;
}

.info {
  @include centralize;
  height: 24px;
  justify-content: space-between;
  margin-top: 16px;
}

.label {
  color: var(--color-neutral-60);
}

.contract {
  @include font(12px, 18px, 400);
  @include ellipse-text;
  flex: 1;

  &:not(:last-of-type) {
    margin-right: 4px;
  }
}

.value {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.preloader,
.error {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.error {
  @include font(12px, 18px, 400);
  color: var(--color-neutral-60);
  display: flex;
  flex-direction: column;
}

.errorIcon {
  color: var(--color-brand-blurple-light);
  margin-bottom: 8px;
}

.preloaderIcon {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}

.preloaderIcon span {
  animation: preloader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  background: var(--color-brand-blurple-light);
  display: inline-block;
  left: 8px;
  position: absolute;
  width: 16px;
}

.preloaderIcon span:nth-child(1) {
  animation-delay: -0.24s;
  left: 8px;
}

.preloaderIcon span:nth-child(2) {
  animation-delay: -0.12s;
  left: 32px;
}

.preloaderIcon span:nth-child(3) {
  left: 56px;
}

@keyframes preloader {
  0% {
    height: 64px;
    top: 8px;
  }
  50%,
  100% {
    height: 32px;
    top: 24px;
  }
}
