@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  margin-top: 12px;
}

.input {
  align-items: center;
  display: flex;
}

.suffix {
  @extend %title3;
  margin-left: 4px;
}
