@import 'styles/mixins';
@import 'styles/typography';

.root {
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  grid-area: header;
  margin-bottom: 8px;

  h2 {
    @include font(1.75em, 38px, 700);
    font-family: var(--font-family-primary);
    margin: 0;
  }

  .optional {
    color: var(--color-neutral-50);
  }
}

.row {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.column {
  width: 67%;
}

.submit {
  margin-top: auto;
}

.description {
  @extend %body2;
  margin: 0;
}

.subtitle {
  @extend %title3;
  margin: 28px 0 8px;
}

.caption {
  @extend %caption1;
  color: var(--color-neutral-60);
  margin-bottom: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  max-width: 550px;
  width: 100%;
}

.link {
  align-items: center;
  display: inline-flex;
  width: 100%;

  input {
    background-color: transparent;
  }

  .socialIcon {
    margin-right: 16px;
  }
}

.socialText {
  @extend %body1;
  align-items: center;
  border: 1.5px dashed var(--color-neutral-60);
  border-radius: 4px;
  color: var(--color-neutral-60);
  display: flex;
  flex-basis: 100%;
  height: 41px;
  justify-content: flex-start;
  padding-left: 10.5px;

  @include tablet-portrait {
    height: 44px;
  }
}

.addBtn {
  color: var(--color-brand-purple);
  flex-shrink: 0;
  margin-left: 16px;
}
