@import 'styles/mixins';

.root {
  cursor: pointer;

  &.absolute {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  &.labeled {
    @include centralize;
  }
}

.iconWrapper {
  @include centralize;
  background-color: var(--color-primary-20);
  border-radius: 100%;
  height: 24px;
  transition: box-shadow 0.4s;
  width: 24px;
  z-index: 1;
}

.icon {
  color: var(--color-primary-50);
  height: 14px;
  width: 14px;
}

.root:hover {
  .iconWrapper {
    box-shadow: 3px 2px 12px var(--color-primary-30);
  }
}

.label {
  @include font(12px, 18px, 400);
  color: var(--color-brand-black);
  margin-right: 8px;
  white-space: nowrap;
}
