@mixin hover-state() {
  box-shadow: 0 0 40px var(--color-black);
}

.root {
  border-radius: 100px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    @include hover-state;
  }
}

// stylelint-disable-next-line
:global(.near-icon-parent):hover .root {
  @include hover-state;
}

.circle {
  fill: var(--color-white);
  stroke: var(--color-brand-black);
}

.icon {
  fill: var(--color-brand-black);
}

.black {
  .circle {
    fill: var(--color-brand-black);
  }

  .icon {
    fill: var(--color-white);
  }
}
