@use 'styles/breakpoints';

.root {
  background-color: var(--color-primary-10);
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  min-height: 100vh;

  .sideBar {
    grid-area: aside;
  }

  .main {
    grid-area: main;
    overflow: hidden;
    padding: 0 120px 60px;
    width: 100%;
  }
}

@media screen and (max-width: #{breakpoints.$screen-md}px) {
  .root {
    main {
      padding: 0 48px 60px;
    }
  }
}

@media screen and (max-width: #{breakpoints.$screen-md - 1}px) {
  .root {
    grid-template-areas:
      'header'
      'main';
    grid-template-columns: 1fr;

    .main {
      padding: 0 24px 60px;
    }

    .sideBar {
      display: none;
    }
  }
}
