@use 'styles/breakpoints';

.root {
  background-color: var(--color-primary-10);
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 72px 1fr;

  min-height: 100vh;

  header {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    grid-area: header;
    height: 72px;
    width: 100%;
  }

  aside {
    grid-area: aside;
    height: 100%;
  }

  main {
    grid-area: main;
    margin: 0 auto;
    max-width: breakpoints.$max-content-width;
    overflow: hidden;
    padding: 0 48px 60px;
    width: 100%;
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-template-areas:
      'header'
      'main';
    grid-template-columns: 1fr;

    main {
      padding: 0 24px 60px;
    }

    aside {
      display: none;
    }
  }
}
