@import 'styles/typography';

.root {
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: space-around;

  .amount {
    @extend %title2;
  }

  .icon {
    background-color: var(--color-neutral-30);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  .label {
    @extend %subtitle3;
  }
}
