@import 'styles/mixins';

.root {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @include tablet-landscape {
    grid-template-columns: 1.4fr 1fr;
  }
}

.column {
  @include tablet-landscape {
    margin-right: 24px;
  }
}

.noResults {
  padding: 0;
}

.card {
  max-width: 100%;
}
