@import 'styles/mixins';

.root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.column {
  margin-right: 24px;
}

.noResults {
  padding: 0;
}
