@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: stretch;
  background: var(--color-neutral-10);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80px;
  overflow: hidden;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.type {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding-left: 21px;
  width: 100%;

  @include tablet-landscape {
    align-items: stretch;
    height: auto;
    justify-content: center;
    padding-left: 0;
    width: 64px;
  }
}

.passed {
  background: var(--color-success-40);
}

.expired {
  background: var(--color-neutral-30);
}

.icon {
  width: 20px;

  svg {
    color: var(--color-primary);
  }
}

.content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 16px;

  @include tablet-portrait {
    padding: 16px 24px;
  }

  @include tablet-landscape {
    align-items: center;
    flex-direction: row;
  }
}

.group {
  @extend %body1;
  @include ellipse-text;
  flex: 2;
  margin-right: 8px;
  white-space: normal;

  @include tablet-landscape {
    white-space: nowrap;
  }
}

.reward {
  flex-basis: 0;
  margin: 12px 0 0;
  white-space: nowrap;

  @include tablet-landscape {
    flex: 1 0 70px;
    margin: 0 8px;
  }
}

.slots {
  @extend %subtitle3;
  align-items: flex-end;
  color: var(--color-success-60);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 8px 0 0 auto;
  width: 100%;

  @include tablet-landscape {
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 8px 0 16px;
  }
}

.slots.inprogress {
  @include tablet-landscape {
    flex: 0 0 325px;
  }
}

.control {
  margin: 0 0 8px;
  order: 1;
  width: 100%;

  @include tablet-landscape {
    flex: 0 0 120px;
    margin: 0 0 0 8px;
    order: 3;
  }
}

.primaryLabel {
  @extend %body1;
  color: var(--color-neutral-90);
}

.secondaryLabel {
  @extend %body1;
  color: var(--color-neutral-60);
}

.alignLeft {
  margin-right: auto;
}

.nowrap {
  word-break: keep-all;
}

.value {
  @extend %title2;
}

.valueDesc {
  @extend %subtitle2;
}

.button {
  margin-bottom: 8px;
  text-transform: none;
  width: calc(50% - 4px);

  @include tablet-landscape {
    margin: 0 4px;
    width: auto;
  }

  + .button {
    margin-left: 8px;

    @include tablet-landscape {
      margin-left: 4px;
    }
  }
}

.unclaim {
  order: 2;

  @include tablet-landscape {
    order: 1;
  }
}

.complete {
  order: 3;

  @include tablet-landscape {
    order: 2;
  }
}

.claim {
  text-transform: none;
}

.root.simple {
  background: var(--color-primary-10);
  min-height: 64px;

  .group {
    @extend %body2;
  }
  .value {
    @extend %title4;
  }
  .valueDesc {
    @extend %subtitle4;
  }
}
