@import 'styles/typography';

.root {
  background: var(--color-primary-80);
  color: var(--color-white);

  .subtitle {
    @extend %subtitle5;
  }

  .valueWrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
  }

  .valueWrapper .value {
    @extend %title2;
  }

  .valueWrapper .token {
    @extend %subtitle2;
  }

  .text {
    @extend %caption1;
    margin-top: 16px;
    word-break: break-all;
  }
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}
