@import 'styles/mixins';
@import 'styles/typography';

.root {
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  margin-bottom: 24px;
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-14);
  }
}

.card {
  grid-template-columns: 1fr;
  @include tablet-landscape {
    grid-template-columns: 30px 1fr;
  }
}

.letterhead {
  height: 30px;
  padding-left: 20px;
  width: 100%;
  @include tablet-landscape {
    height: 100%;
    padding-left: 0;
    width: 30px;
  }
}

.letterBackground {
  height: 30px;
  @include tablet-landscape {
    height: 100%;
    width: 30px;
  }
}

.letterheadIcon {
  display: flex;
  height: 14px;
  margin: 0;
  width: 14px;
  @include tablet-landscape {
    height: 14px;
    width: 14px;
  }
}

.letterheadIconWrapper {
  height: 14px;
  padding-top: 0;
  width: 14px;
  @include tablet-landscape {
    height: 14px;
    padding-top: 22px;
    width: 14px;
  }
}

.content {
  background-color: var(--color-white);
  border-radius: 0 8px 8px 0;
  display: grid;
  gap: 28px;
  grid-row-gap: 0;
  grid-template-areas:
    'title title title'
    'tags tags tags'
    'views replies date';
  grid-template-columns: 30px 30px 1fr;
  padding: 16px;
  width: 100%;
  @include tablet-landscape {
    gap: 12px;
    grid-template-areas:
      'title views replies date'
      'tags tags tags tags';
    grid-template-columns: 1fr 60px 60px 120px;
  }
}

.title {
  @extend %subtitle3;
  @include ellipse-text;
  grid-area: title;
}

.views {
  grid-area: views;
}

.replies {
  grid-area: replies;
}

.date {
  grid-area: date;
  justify-content: flex-end;
}

.views,
.replies,
.date {
  @extend %caption1;
  align-items: center;
  display: flex;
}

.icon {
  color: var(--color-neutral-50);
  display: flex;
  margin-right: 4px;
  width: 18px;
}

.tags {
  @include ellipse-text;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  grid-area: tags;
  margin-bottom: 16px;
  @include tablet-landscape {
    margin-bottom: 0;
  }
}

.tag {
  @extend %subtitle5;
  background: none !important;
  border: 1px solid var(--color-neutral-40);
  border-radius: 100px;
  margin-right: 8px;
}

.convertedProposalIcon {
  color: var(--color-primary-50);
  height: 24px;
  margin-right: 9px;
  width: 24px;
}

.letterClosed,
.letterBgClosed {
  background-image: linear-gradient(
    0deg,
    var(--color-neutral-50),
    var(--color-neutral-50)
  ) !important;
}

.tooltipArrow {
  transform: translate3d(73px, 0, 0) !important;
}
