@use 'styles/breakpoints';

@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: flex-end;
  cursor: default;
  display: flex;
  flex: 1;
  justify-content: space-between;

  @include tablet-landscape {
    justify-content: flex-end;
  }
}

.toggleCommentsButton {
  border-radius: 50%;
  transition: box-shadow 0.4s;
  width: 27px;
  &:hover {
    box-shadow: 3px 2px 16px var(--color-removed-opacity-25);
  }
}

.row {
  align-items: center;
  color: var(--color-black);
  display: flex;
  white-space: nowrap;

  .iconWrapper {
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.inputWrapper {
  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */

  input {
    font-weight: 700;
    height: 24px !important;
    padding: 0 !important;
    white-space: nowrap;
    word-break: normal;
    @include placeholder {
      color: var(--color-neutral-40);
      transition: opacity 0.2s linear;
    }
  }

  input[disabled] {
    background-color: var(--color-white);
  }
}

.detailsItem {
  @include tablet-landscape {
    margin-left: 12px;
  }
}

.detailsInput {
  input {
    border: 1px solid var(--color-neutral-40);
    border-radius: 8px;
    height: 39px !important;
    padding: 10.5px 4px 10.5px 8px !important;
  }
}

.readOnly {
  input {
    border-color: transparent;
  }
}

.error {
  input {
    border-color: var(--color-error-50);
  }
}

.inputLabel {
  @extend %subtitle6;
  background-color: var(--color-white);
  color: var(--color-neutral-60);
  left: 6px;
  padding: 2px 4px;
  position: relative;
  top: 10px;
  //transform: translate(6px, 6px);
  width: fit-content;
}
