@use 'styles/breakpoints';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'token amount'
    'tokenAddress tokenAddress'
    'details details'
    'externalUrl externalUrl'
    'slot slot'
    'deadline deadline'
    'voteDetails voteDetails'
    'footer footer';
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.token {
  grid-area: token;
}

.amount {
  grid-area: amount;
}

.details {
  grid-area: details;
}

.tokenAddress {
  grid-area: tokenAddress;
}

.externalUrl {
  grid-area: externalUrl;
}

.slot {
  grid-area: slot;
}

.deadline {
  grid-area: deadline;
}

.vote {
  grid-area: voteDetails;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: flex-end;
}

.textArea {
  &textarea {
    width: 100%;
  }
}

.input {
  input {
    flex-basis: unset;
    padding: 12.5px;
  }
}

.inlineInput {
  height: 48px;
  margin: 0 8px;
  width: 10%;
}

.deadlineUnit {
  input {
    max-width: 120px;
  }
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-template-areas:
      'token'
      'amount'
      'details'
      'externalUrl'
      'slot'
      'deadline'
      'voteDetails'
      'footer';
    grid-template-columns: 1fr;
  }

  .footer {
    justify-content: space-between;
  }
}
