@import 'styles/mixins';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;

  h1 {
    margin-top: 0;
  }
}

.changeButton {
  display: none;
  @include tablet-portrait {
    display: block;
  }
}
