@import 'styles/typography';

.root {
  background-color: var(--color-primary-50);
  border-radius: 8px;
  padding-bottom: 12px;
  padding-top: 12px;

  .label {
    @extend %subtitle5;
    color: var(--color-white);
  }
}

@media screen and (max-width: 768px) {
  .root {
    display: none;
  }
}
