@import 'styles/mixins';

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 56px;

  @include tablet-landscape {
    flex-wrap: nowrap;
    height: auto;
    min-height: 28px;
  }
}

.subRow {
  align-items: center;
  display: flex;
}

.sub {
  margin-top: 12px;
}

.text {
  font-family: Inter, 'sans-serif';
  font-size: 1em;
  overflow: hidden;
  white-space: normal;

  @include tablet-landscape {
    font-size: 1.125em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    font-size: 14px;

    @include tablet-portrait {
      font-size: 16px;
    }
  }
}

.value {
  font-weight: 800;
}

.valueDesc {
  font-weight: 500;
  text-transform: uppercase;
}

.icon {
  height: 24px;
  margin: 0 24px;
  width: 24px;
}
