@import 'styles/mixins';
@import 'styles/typography';

.row {
  display: flex;
}

.subRow {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  max-width: 432px;
  min-height: 50px;

  @include desktop {
    width: calc(100% - 305px);
  }
}

.sub {
  margin-top: 8px;
}

.text {
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;

  @include tablet-landscape {
    font-size: 1.125em;
    line-height: 28px;
  }

  b {
    font-weight: 700;
  }

  > div {
    font-size: 12px;
  }
}

.value {
  font-weight: 800;
}

.valueDesc {
  @extend %subtitle3;
  min-width: 43px;
  text-transform: uppercase;
}

.icon {
  height: 25px;
  margin: 0 20px;
  width: 24px;
}
