@import 'styles/typography';

.statusDot {
  $dot-size: 6px;

  background-color: transparent;
  border-radius: $dot-size;
  flex-shrink: 0;
  height: $dot-size;
  margin-right: 8px;
  width: $dot-size;
}

.iconHolder {
  margin-right: 10px;
}

.account {
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyButton {
  margin-right: 12px;
}

.disconnect {
  color: var(--color-error-70);
  display: none;

  &:hover {
    color: var(--color-error-60);
  }
}

.active {
  .statusDot {
    background-color: var(--color-brand-green);
  }

  .disconnect {
    display: block;
  }
}
