@import 'styles/typography';

.content {
  margin-left: -48px;
  margin-right: -48px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.opened {
  max-height: 500px;
}

.label {
  @extend %title5;
  align-items: center;
  display: flex;
  padding: 0;
  text-transform: capitalize;
  transform: translateX(-8px);
}

.icon {
  min-width: 24px;
  transition: transform 0.3s;
  width: 24px;
}

.rotate {
  transform: rotate(90deg);
}
