@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  padding-top: 80px;

  @include tablet-landscape {
    padding-top: 56px;
  }
}

.statusFilterWrapper {
  display: flex;
  justify-content: center;
  margin: 32px 72px 24px;

  .categoriesListApprovedInputWrapperChecked {
    background-color: var(--color-success-50);
    border-color: var(--color-success-50);
  }

  .categoriesListFailedInputWrapperChecked {
    background-color: var(--color-error-60);
    border-color: var(--color-error-60);
  }
}

.onTop {
  z-index: 9;
}

.proposalCardWrapper {
  margin-bottom: 24px;
}

.proposalList {
  position: relative;
}

.categoriesListWrapper {
  margin-bottom: -210px;
  margin-left: -180px;
  position: sticky;
  top: 160px;
  width: 120px;
  z-index: 1;
}

.breadcrumb {
  @extend %caption1;
  align-items: center;
  color: var(--color-neutral-70);
  display: flex;
  gap: 8px;
  margin-bottom: 42px;
  position: relative;

  .link {
    align-items: center;
    display: flex;
  }

  .activeLink {
    color: var(--color-primary-50);
  }

  .daoFlag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    left: -42px;
    position: absolute;
    width: 42px;
  }
}
