@import 'styles/mixins';
@import 'styles/typography';

.root {
  background-color: var(--color-primary-80);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  padding: 24px 48px;

  @include tablet-portrait {
    align-items: flex-start;
    flex-direction: row;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .description {
    @extend %subtitle5;
    color: var(--color-white);
    margin-bottom: 16px;
  }
}

.item {
  flex: 1;
}

.detail {
  display: flex;
  flex-direction: column;

  .or {
    @extend %title6;
    align-items: center;
    color: var(--color-brand-purple-light);
    display: flex;
    justify-content: flex-start;
    margin-block: 12px;
  }
}

.row {
  align-items: center;
  display: flex;

  .limit,
  .separator {
    @extend %body1;
    color: var(--color-white);
  }

  .label {
    align-items: center;
    color: var(--color-white);
    display: flex;
    height: 24px;
    line-height: inherit;
    padding: 0 8px;
  }
}
