@import 'styles/typography';

.title {
  @extend %title5;
}

.policyWrapper {
  background-color: var(--color-brand-black);
  border-radius: 8px;
  margin-top: 56px;
  padding: 14px 60px;

  .policyLabel {
    @extend %subtitle6;
    color: var(--color-neutral-60);
    margin: 0 0 12px;
  }

  .policy {
    align-items: center;
    color: var(--color-white);
    display: flex;
    gap: 12px;
    justify-content: flex-start;
  }

  .bold {
    font-weight: bold;
  }
}
