@import 'styles/typography';

.root {
  @include centralize;
  background: var(--color-white);
  border-radius: 8px;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 24px;
  text-align: center;
}

.title {
  color: var(--color-neutral-60);
  margin: 0 0 4px;
}

.subtitle {
  margin: 0;
}
