@import 'styles/mixins';
@import 'styles/typography';

.root {
  display: flex;
  gap: 8px;
}

.row {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 8px;
}

.label {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  margin-bottom: 8px;
}

.icon {
  color: var(--color-primary);
  margin-right: 12px;
  width: 24px;
}

.delete {
  color: var(--color-error-70);
  margin-left: 12px;
  width: 24px;
}

.add {
  @extend %title3;
  align-items: center;
  color: var(--color-primary);
  display: flex;
  padding: 0;
  text-transform: capitalize;
}

.inputWrapper {
  input {
    font-weight: 700;
    @include placeholder {
      color: var(--color-neutral-40);
      transition: opacity 0.2s linear;
    }
  }
}
