@import 'styles/mixins';

.navLabel {
  white-space: nowrap;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.iconLeft {
  margin-left: 8px;
}

.iconRight {
  margin-right: 8px;
}
