@import 'styles/mixins';

.root {
  --app-background: var(--color-neutral-10);
  background-color: var(--app-background);
  display: flex;
  position: relative;
  width: 100%;

  &.whiteBackground {
    --app-background: var(--color-white);
    min-height: 100vh;
  }
}

.main {
  $header-height: 72px;

  padding: 0 24px 60px;
  width: 100%;

  @include desktop {
    padding: 0 48px 60px;
  }

  @include large-desktop {
    margin: auto;
    max-width: 1000px;
    padding: 0 60px 60px;
  }

  @include large-x-desktop {
    margin: auto;
    max-width: 1125px;
    padding: 0 94px 60px;
  }
}

.content {
  width: 100%;

  &.withFixedHeader {
    padding-top: var(--app-header-height);
  }
}

.createDao.root {
  padding-bottom: 80px;

  @include astro-desktop {
    padding-bottom: 0;
  }

  .main {
    padding: 24px 24px 60px;

    @include desktop {
      padding: 50px 48px 60px;
    }

    @include large-desktop {
      margin: auto;
      max-width: 1180px;
      padding: 50px 72px 60px;
    }
  }
}
