@import 'styles/mixins';
@import 'styles/typography';

.root {
  @extend %subtitle5;
  align-items: center;
  background-color: var(--color-brand-purple-light);
  border-radius: 8px 8px 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 8px;
  transition: width 0.7s linear;
}

.message {
  display: none;
  line-height: 1.1;
  margin-left: 12px;
  padding: 6px 0;
}

.infoIcon {
  color: var(--color-brand-purple);
  padding: 8px 0;
  width: 24px;
}

.open {
  @include tablet-portrait {
    max-width: 62%;
  }

  @include tablet-landscape {
    max-width: 43%;
  }

  .message {
    display: block;
  }
}
