@use 'styles/breakpoints';
@import 'styles/typography';

.nav {
  @extend %caption1;
  align-items: center;
  color: var(--color-white-opacity-5);
  cursor: pointer;
  display: inline-flex;
  gap: 9px;
  line-height: 24px;
  width: 100%;

  &.active {
    color: var(--color-white);
  }

  &:hover {
    color: var(--color-white);
  }

  &:hover .icon {
    filter: brightness(120%);
  }

  &:focus {
    outline: none;
  }
}

.icon {
  color: var(--color-success);
}

.active {
  &:hover {
    color: var(--color-success);
  }

  .icon {
    color: var(--color-success);
  }
}

.nonClickable {
  pointer-events: none;
}

.label {
  margin-left: 4px;
}

.badge {
  margin-left: auto;
}

.loaderDot {
  background-color: var(--color-success);
}
