@use 'styles/breakpoints';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'token amount'
    'tokenAddress tokenAddress'
    'recipient recipient'
    'payoutDetail payoutDetail'
    'externalUrl externalUrl'
    'voteDetails voteDetails'
    'footer footer';
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.recipient {
  align-items: flex-end;
  display: flex;
  grid-area: recipient;
  white-space: nowrap;

  .inputInline {
    transform: translateY(-12px);
  }
}

.token {
  grid-area: token;
}

.detail {
  grid-area: payoutDetail;
}

.amount {
  grid-area: amount;
}

.tokenAddress {
  grid-area: tokenAddress;
}

.url {
  grid-area: externalUrl;
}

.vote {
  grid-area: voteDetails;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: flex-end;
}

.textArea {
  &textarea {
    width: 100%;
  }
}

.input {
  input {
    flex-basis: unset;
    padding: 12.5px;
  }
}

.inlineInput {
  height: 48px;
  margin: 0 8px;
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-template-areas:
      'token'
      'amount'
      'recipient'
      'payoutDetail'
      'externalUrl'
      'voteDetails'
      'footer';
    grid-template-columns: 1fr;
  }

  .footer {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
