@use 'styles/breakpoints';
@import 'styles/mixins';

.root {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  gap: 24px;
  grid-area: header;
  height: 72px;
  justify-content: space-between;
  padding: 0 32px;
  width: 100%;
}

.mobileMenu {
  display: none;

  .hamburgerIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}

.flag {
  display: block;

  .logo {
    height: 34px;
    width: 34px;
  }
}

.search {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.signIn {
  justify-self: flex-end;
  .iconLogo {
    color: var(--color-white);
    height: 11px;
  }
}

@media screen and (max-width: breakpoints.$screen-md - 1px) {
  .root {
    height: 56px;
    padding: 0 24px;
  }

  .mobileMenu {
    display: block;
  }

  .flag {
    display: none;
  }

  .desktopOnly {
    display: none;
  }
}
