@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'header header'
    'accountName accountName'
    'chart chart'
    'label label'
    'tokens tokens';
  grid-template-columns: 1fr 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }

  span {
    @extend %heading2;

    @include tablet-landscape {
      @include font(2em, 48px, 500);
    }
  }
}

.account {
  grid-area: accountName;
  width: 100%;

  .caption {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    padding-bottom: 8px;
    text-transform: uppercase;

    @include tablet-portrait {
      padding-bottom: 4px;
    }
  }

  .name {
    @extend %title3;
    align-items: center;
    color: var(--color-brand-black);
    display: flex;
    justify-content: flex-start;
  }

  .icon {
    margin-left: 8px;
  }
}

.chart {
  background-color: var(--color-white);
  border-radius: 8px;
  grid-area: chart;
}

.row {
  margin-bottom: 16px;
}

.label {
  @extend %heading3;
  grid-area: label;

  @include tablet-landscape {
    @include font(1.5em, 36px, 500);
  }
}

.tokens {
  grid-area: tokens;
  margin-bottom: 10px;
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}
