@import 'styles/mixins';

.root {
  align-items: stretch;
  background: var(--color-neutral-10);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  transition: box-shadow 0.4s;

  @include tablet-landscape {
    flex-direction: row;
  }

  &.inProgress:hover {
    box-shadow: 3px 2px 24px var(--color-in-progress-opacity-25);
  }

  &.approved:hover {
    box-shadow: 3px 2px 24px var(--color-approved-opacity-25);
  }

  &.rejected:hover {
    box-shadow: 3px 2px 24px var(--color-rejected-opacity-25);
  }

  &.expired:hover {
    box-shadow: 3px 2px 24px var(--color-expired-opacity-25);
  }

  &.removed:hover {
    box-shadow: 3px 2px 24px var(--color-dismissed-opacity-25);
  }
}

.side {
  display: flex;
  flex: 0 0 64px;
  height: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 16px;
}

.header {
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
}

.title {
  color: var(--color-neutral-50);
  font-weight: 700;
  text-transform: lowercase;
}

.icon {
  height: 20px;
  width: 20px;
}

.body {
  @include ellipse-text;
  margin-top: 10px;
  max-width: 100%;
  white-space: nowrap;

  &.default {
    @include tablet-landscape {
      padding-right: 64px;
    }
  }

  &.collapsed {
    @include tablet-landscape {
      width: calc(100% - 205px);
    }
  }
}

.footer {
  margin-top: 12px;
}
