@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: center;
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;

  margin-bottom: 12px;

  padding: 11px 0;
}

.title {
  @extend %title5;
  padding: 0 24px;
}

.groupBadge {
  align-items: center;
  display: flex;
  max-width: 125px;
}

.groupName {
  @include ellipse-text;
  max-width: 100px;
}

.membersContainer {
  margin-bottom: 12px;
}

.member {
  align-items: center;
  display: flex;

  &.disabled {
    color: var(--color-neutral-40);
  }
}

.input {
  @extend %title4;
  text-align: right;

  &:disabled {
    color: var(--color-neutral-40);
  }
}

.label {
  @extend %subtitle4;
}

.total,
.totalSuffix {
  @extend %title4;
}

.totalSuffix {
  margin-left: 4px;
}

.control,
.group {
  align-items: center;
  display: flex;
}

.suffix {
  @extend %subtitle4;
  margin-left: 4px;
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
