@import 'styles/typography';

.root {
  cursor: pointer;
  display: block;

  &:hover {
    opacity: 0.8;
  }
}

.menu {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  display: flex;
  flex-direction: column;
}

.menuLegend {
  @extend %body2;
  border-bottom: 1px solid var(--color-neutral-40);
  color: var(--color-brand-black);
  padding: 8px 18px;
}

.option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  padding: 8px 18px;
  text-align: left;
  width: 100%;

  &:hover {
    color: var(--color-primary-50);
  }
}

.icon {
  height: 24px;
  width: 24px;
}
