.root {
  align-items: center;
  border-radius: 6px;
  color: var(--color-brand-black);

  cursor: pointer;

  display: flex;
  transition: 0.2s;

  &:hover {
    background-color: var(--color-neutral-20);
  }

  .icon {
    height: 34px;
    width: 34px;
  }

  .content {
    margin-left: 20px;
  }
}
