@use 'styles/breakpoints';
@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 0;

  @include tablet-landscape {
    flex-direction: column;
    padding: 8px 0 8px 6px;
  }

  @include desktop {
    padding: 8px 8px 8px 10px;
  }

  div {
    white-space: nowrap;
  }

  > div {
    margin-left: 24px;

    @include tablet-landscape {
      margin-bottom: 12px;
      margin-left: 0;
    }
  }
}

.icon {
  align-items: center;
  color: var(--color-neutral-50);
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;

  @include tablet-landscape {
    align-items: flex-start;
  }

  button:hover {
    color: var(--color-white);

    @include tablet-landscape {
      color: var(--color-primary-50);
    }
  }
}

.copyBtn {
  button:hover {
    @media screen and (max-width: #{breakpoints.$screen-sm + 1}px) {
      color: var(--color-white) !important;
    }
  }
}

.mobileRoot {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.open {
  background-color: var(--color-neutral-10);
  border-radius: 4px;
}

.options {
  @include card-shadow;
  background-color: var(--color-neutral-10);
  padding: 12px 0;
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  width: calc(100vw - 48px);
  z-index: 2;
}

.button {
  @extend %subtitle3;
  align-items: center;
  display: flex;
  gap: 12px;
  text-transform: capitalize;
}
