@import 'styles/typography';
@import 'styles/mixins';

.root {
  @include card-shadow;
  padding: 23px 32px;
  width: 100%;

  @include tablet-portrait {
    padding: 23px 22px;
  }

  @include tablet-landscape {
    min-width: 348px;
    padding: 23px 32px;
    width: auto;
  }

  @include large-desktop {
    width: 100%;
  }
}

.settingName {
  @extend %heading2;
  padding-bottom: 23px;
}

.padding {
  padding-bottom: 16px;
}
