@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'accountName accountName'
    'sendTokens sendTokens'
    'chart chart'
    'label label'
    'tokens tokens';
  grid-template-columns: 1fr 1fr;
  padding-top: 56px;

  @include tablet-landscape {
    grid-row-gap: 40px;
    grid-template-areas:
      'accountName  sendTokens'
      'chart chart'
      'label label'
      'tokens tokens';
    grid-template-columns: 2fr 1fr;
  }
}

.account {
  grid-area: accountName;
  width: 100%;

  .caption {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    padding-bottom: 8px;
    text-transform: uppercase;

    @include tablet-portrait {
      padding-bottom: 4px;
    }
  }

  .name {
    @extend %title3;
    align-items: center;
    color: var(--color-brand-black);
    display: flex;
    justify-content: flex-start;
  }

  .icon {
    margin-left: 8px;
  }
}

.send {
  @extend %subtitle2;
  color: var(--color-brand-black);
  grid-area: sendTokens;
  justify-self: end;
  width: 100%;

  @include tablet-landscape {
    width: auto;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-landscape {
      min-width: auto;
    }
  }
}

.chart {
  background-color: var(--color-white);
  border-radius: 8px;
  grid-area: chart;
}

.row {
  margin-bottom: 16px;
}

.label {
  @extend %heading3;
  grid-area: label;

  @include tablet-landscape {
    @include font(1.5em, 36px, 500);
  }
}

.tokens {
  grid-area: tokens;
  margin-bottom: 10px;
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}

.chartCaption {
  display: flex;
  flex-direction: column;

  .chartLabel {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    margin-bottom: 4px;
  }

  .chartValue {
    @extend %subtitle1;
    color: var(--color-neutral-90);
  }
}
