@import 'styles/mixins';
@import 'styles/typography';

.root {
  border-radius: 0 8px 8px 0;
  display: grid;
  grid-template-areas:
    'daoFlag daoFlag'
    'letterHead proposal'
    'infoPanel infoPanel';
  grid-template-columns: 50px 1fr;
}

.daoFlag {
  grid-area: daoFlag;
}

.proposal {
  grid-area: proposal;
}

.letterHead {
  grid-area: letterHead;
}

.infoPanel {
  grid-area: infoPanel;
  padding-left: 19px;
  padding-right: 19px;
}
