@import 'styles/mixins';
@import 'styles/typography';

.root {
  color: var(--color-white);
}

.subtitle {
  @extend %subtitle5;
  margin-bottom: 16px;

  @include tablet-portrait {
    margin-bottom: 24px;
  }
}

.list {
  max-height: 264px;
  overflow: auto;
}

.list.full {
  max-height: 288px;

  @include tablet-portrait {
    max-height: 296px;
  }
}

.name {
  @extend %title3;
  margin-block: 8px;
}

.name.positive {
  color: var(--color-success-50);
}

.name.negative {
  color: var(--color-error-60);
}

.name.trash {
  color: var(--color-neutral-60);
}

.seemore {
  @extend %title5;
  cursor: pointer;
  margin-top: 8px;
  text-decoration: underline;

  @include tablet-portrait {
    margin-top: 16px;
  }
}

.seemore.hide {
  display: none;
}
