@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  @extend %title5;

  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
}

.sublabel {
  font-weight: normal;
}

.inputContainer {
  align-items: center;
  border: 1.5px solid var(--color-neutral-60);
  border-radius: 4px;
  cursor: text;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 24px 24px 24px 14px;
}

.row {
  align-items: center;
  display: flex;
  white-space: nowrap;

  .iconWrapper {
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.select {
  max-width: fit-content;

  button {
    border: 0;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  input {
    @extend %title2;
    border: 0;
    padding: 0;
    text-align: right !important;
  }

  /* stylelint-disable */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* stylelint-enable */
}

.sub {
  @extend %caption2;
  color: var(--color-neutral-60);
  text-align: right;
}

.icon {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.error {
  border-color: var(--color-error-40);
}

.success {
  border-color: var(--color-success-40);
}
