@use 'styles/breakpoints';

.root {
  display: grid;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  text-transform: unset;
}

.filter {
  position: relative;
  z-index: 1;
}

.content {
  display: grid;
  grid-gap: 50px 70px;
  grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: #{breakpoints.$screen-xs}px) {
  .content {
    grid-template-columns: 1fr;
  }
}
