@import 'styles/mixins';
@import 'styles/daosList';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'header'
    'filter'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }

  h1 {
    margin: 0;
  }
}

.filter {
  grid-area: filter;
  position: relative;
  z-index: 1;
}

.content {
  @include daos-list;
}

.loading {
  margin: 32px 0;
  text-align: center;
}
