@import 'styles/typography';
@import 'styles/mixins';

.root {
  margin-top: 24px;

  .filters {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 32px 0;
  }

  .row {
    align-items: center;
    column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 24px;

    @include tablet-portrait {
      margin-bottom: 0;
    }
  }

  .row h1 {
    flex: 1;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-portrait {
      width: auto;
    }
  }

  .flag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
  }
}

.primaryFilter {
  color: var(--color-brand-black);

  p {
    @extend %heading1;
  }
}
