.votersList {
  background-color: var(--color-white);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0 24px 24px;
}

.voteListItem {
  margin: 0 0 12px;
  &:last-child {
    margin: 0;
  }
}
