@import '../../DaoMembersForm.module';

.root {
  margin-bottom: 12px;
}

.socialIcon {
  color: var(--color-primary-60);
  flex-shrink: 0;
  margin-right: 16px;
}

.deleteBtn {
  color: var(--color-error-70);
  flex-shrink: 0;
  margin-left: 16px;
}

.validationWrapper {
  width: 50%;
}

.dropdown {
  align-items: center;
  background: transparent;
  border: 1.5px solid var(--color-neutral-60);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 8px;
  max-width: calc(100% - 50% - 16px - 48px);
  padding: 0 14px;
  width: 100%;

  p {
    @extend %body1;
    color: var(--color-brand-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
    max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  svg {
    color: var(--color-brand-purple);
    height: 20px;
    margin-left: 10px;
    width: 20px;
  }
}

.dropdownWrapper {
  align-items: flex-start;
  background: var(--color-white);
  border: 1.5px solid var(--color-neutral-60);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 14px 0;
  z-index: 2;
}

.dropdownItem {
  min-width: 110px;
  padding: 8px 14px;
  text-align: left;
  width: 100%;

  &:hover {
    background: var(--color-neutral-20);
  }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.error.error {
  border-color: var(--color-error-50);
}

.error {
  border-color: var(--color-error-50);
}
