@use 'styles/breakpoints';
@import 'styles/typography';

.root {
  display: grid;
  grid-gap: 12px;
  grid-template-areas: '. propose vote edit';
  grid-template-columns: 1fr 2fr 2fr 24px;

  padding: 0 12px 12px;
}

.propose {
  grid-area: propose;
}

.vote {
  grid-area: vote;
}

.edit {
  grid-area: edit;
}

.propose,
.vote {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  @extend %subtitle5;
  color: var(--color-neutral-60);
  //margin-bottom: 12px;
}

.row {
  @extend %caption1;
  align-items: center;
  display: flex;
  gap: 4px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-gap: 32px;
    grid-template-areas: 'propose' 'vote';
    grid-template-columns: 1fr;

    padding: 0 0 12px;
  }
}
