@import 'styles/typography';

.root {
  align-items: center;
  background-color: var(--color-error-10);
  border-radius: 4px;
  display: flex;
  margin: 16px 0;
  padding: 6px 8px;
}

.icon {
  color: var(--color-brand-coral-red);
  margin-right: 8px;
  width: 24px;
}

.text {
  @extend %caption1;
}
