.root {
  background-color: var(--color-primary-10);
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.row {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.yes {
  background-color: var(--color-success-10);
  color: var(--color-success-80);
  margin-right: 8px;

  &.selected {
    background-color: var(--color-success-30);
  }
}

.no {
  background-color: var(--color-error-10);
  border-color: var(--color-error-80);
  color: var(--color-error-80);

  &.selected {
    background-color: var(--color-error-30);
  }
}
