.switch {
  align-items: center;
  background: var(--color-neutral-40);
  border-radius: 25px;
  flex-shrink: 0;
  height: 14px;
  margin: 5px 2px 2px;
  position: relative;
  transition: background 0.1s;
  width: 25px;
}

.slider {
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0 3px var(--color-black-opacity-14);
  height: 14px;
  left: 0;
  position: absolute;
  transition: left 0.2s;
  width: 14px;

  &::after {
    background: linear-gradient(
      148.3deg,
      var(--color-primary-40) 5.4%,
      #5d3cb8 97%
    );
    border-radius: 50%;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.1s;
  }
}

.switch.on {
  background: var(--color-neutral-50);

  .slider {
    left: 11px;
  }

  .slider::after {
    opacity: 1;
  }
}
