.switch {
  align-items: center;
  background: var(--color-neutral-40);
  border-radius: 34px;
  display: inline-block;
  height: 24px;
  margin-right: 12px;
  padding: 3px;
  position: relative;
  transition: background;
  transition-duration: 0.1s;
  width: 40px;
}

.switch.on {
  background: var(--color-primary-60);

  .slider {
    left: 19px;
  }
}

.slider {
  background: var(--color-white);
  border-radius: 50%;
  height: 18px;
  left: 3px;
  position: absolute;
  transition: left;
  transition-duration: 0.2s;
  width: 18px;
}
