@import 'styles/typography';

.root {
  margin-bottom: 64px;
}

.header {
  @extend %heading1;
  align-items: center;
  display: flex;
  margin-bottom: 48px;
  text-transform: lowercase;

  > div:first-of-type {
    color: var(--color-neutral-60);
  }
}

.content {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  grid-template-areas:
    'show show search search'
    'type . . .'
    'type1 type2 type3 type4';
  grid-template-columns: repeat(4, auto);
  max-width: 50%;
}

.show {
  grid-area: show;
  z-index: 2;
}

.search {
  grid-area: search;
  z-index: 1;
}

.type1 {
  grid-area: type1;
}
.type2 {
  grid-area: type2;
}
.type3 {
  grid-area: type3;
}
.type4 {
  grid-area: type4;
}

.label {
  @extend %subtitle5;
  color: var(--color-neutral-60);
}

.dropdown {
  min-width: 280px;
  ul {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  .content {
    grid-row-gap: 24px;
    grid-template-areas:
      'show show'
      'search search'
      'type .'
      'type1 type2'
      'type3 type4';
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
}
