@import 'styles/mixins';
@import 'styles/typography';

.legalLink {
  @extend %body2;
  color: var(--color-primary);
  display: flex;
}

.legalIcon {
  margin-left: 4px;
}

.links {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;

  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 8px 0;

  @include tablet-landscape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.linkItem {
  @include ellipse-text;
  display: inline-block;
}
