@import 'styles/typography';

.all,
.dismissed,
.approved,
.failedProposals {
  @extend %subtitle4;
}

.approved {
  color: var(--color-brand-green);
}

.failed {
  color: var(--color-brand-coral-red);
}

.dismissed {
  color: var(--color-neutral-80);
}

.icon {
  cursor: pointer;
  transition: transform 0.5s;
  width: 16px;
}

.statusSelect {
  li {
    min-height: unset;
    padding: 8px 20px;
  }
}
