.root {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  color: var(--color-brand-black);
  height: fit-content;
  max-width: 490px;
  padding: 24px;
  white-space: nowrap;
}
