@use 'styles/breakpoints';
@import 'styles/typography';

.root {
  .name {
    color: var(--color-neutral-60);
    margin-left: 12px;
  }
}

.loggedUserInfo {
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: breakpoints.$screen-sm - 1px) {
  .name {
    display: none;
  }
}
