@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  cursor: pointer;
  position: relative;
}

.accountButton {
  align-items: center;
  background-color: var(--color-neutral-30);
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  height: 38px;
  white-space: nowrap;

  @include mobile-only {
    .accountId,
    .controlIcon {
      display: none;
    }
  }

  &:hover .accountId {
    color: var(--color-neutral-90);
  }

  .accountId {
    @extend %subtitle4;
    @include ellipse-text;
    color: var(--color-neutral-70);
    margin: 0 4px 0 8px;
    max-width: 220px;
  }

  .controlIcon {
    margin: 0 8px 0 4px;
    width: 20px;
  }

  .controlIcon.open {
    transform: rotate(180deg);
  }
}

.menuButton {
  padding: 8px;

  // TODO remove to enable navigation to my-account page
  pointer-events: none;
}

.footer {
  background-color: var(--color-white);
  border-radius: 8px;
  color: var(--color-brand-black);
  margin-top: 8px;
  width: 328px;

  @include astro-desktop {
    display: none;
  }
}

.disabled {
  cursor: none;
  pointer-events: none;
}
