@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  cursor: pointer;
  position: relative;
}

.dropdown {
  @extend %body2;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  cursor: default;
  padding: 12px;
  width: 226px;
  z-index: 1000;

  &.hidden {
    display: none;
  }

  .delimiter {
    background-color: var(--color-neutral-20);
    height: 1px;
    margin: 12px 0;
  }

  .chooseWalletCaption {
    @extend %subtitle5;
    color: var(--color-neutral-60);
    margin-bottom: 24px;
  }

  .text {
    @extend %subtitle4;
    color: var(--color-neutral-90);
  }

  .name {
    color: var(--color-neutral-60);
    margin: 8px 0;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.accountButton {
  align-items: center;
  background-color: var(--color-neutral-30);
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  height: 38px;
  white-space: nowrap;

  @include mobile-only {
    .accountId,
    .controlIcon {
      display: none;
    }
  }

  &:hover .accountId {
    color: var(--color-neutral-90);
  }

  .accountId {
    @extend %subtitle4;
    @include ellipse-text;
    color: var(--color-neutral-70);
    margin: 0 4px 0 8px;
    max-width: 220px;
  }

  .controlIcon {
    margin: 0 8px 0 4px;
    width: 20px;
  }

  .controlIcon.open {
    transform: rotate(180deg);
  }
}

.menuButton {
  padding: 8px;

  pointer-events: none;
}

.footer {
  background-color: var(--color-white);
  border-radius: 8px;
  color: var(--color-brand-black);
  margin-top: 8px;
  width: 328px;

  @include astro-desktop {
    display: none;
  }
}
