@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas:
    'header'
    'content';
  grid-template-columns: 1fr;
  padding-top: 40px;

  @include desktop {
    padding-top: 56px;
  }
}

.newProposal {
  padding-top: 32px;
}

.header {
  align-items: center;
  display: flex;
}

.title {
  font-size: 32px;
  margin: 0;
}

.newProposalButton {
  font-size: 14px;
  margin-left: 24px;
  text-transform: capitalize;
}

.filters {
  @extend %subtitle4;
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  font-weight: 400;
  margin-left: auto;

  .filter {
    margin-right: 12px;
  }

  .filterLabel {
    margin-right: 6px;
  }
}

.grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  padding-top: 56px;
  place-items: start center;

  @include large-desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  @extend %body1;
  grid-area: description;
  width: 100%;
}

.bounties {
  grid-area: bounties;

  @include tablet-landscape {
    margin-top: 0.5em;
    width: auto;
  }
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}
