@use 'styles/breakpoints';

.root {
  background-color: var(--color-white);
  border-radius: 6px;
  max-width: 100%;
  min-width: 200px;
  overflow: auto;
  padding: 32px;
  position: relative;
  width: 640px;
  z-index: 10002;

  &.sm {
    width: 480px;
  }

  &.md {
    width: 640px;
  }

  &.lg {
    width: 768px;
  }

  &.xl {
    width: 944px;
  }

  &.xxl {
    width: 1024px;
  }

  &.xxxl {
    max-width: 1280px;
    width: 100%;
  }

  &.auto {
    max-width: 1024px;
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.modalOpen {
  overflow: hidden;
}

.overlay {
  align-items: center;
  background: rgba(#201f1f, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 10000000;
}

.overlayAfterOpen {
  opacity: 1;
}

.overlayBeforeClose {
  opacity: 0;
}

.closeWrapper {
  color: var(--color-neutral-50);
  position: absolute;
  right: 4px;
  top: 4px;
  transition: color 0.2s;
  z-index: 1;

  &:hover {
    color: var(--color-neutral-70);
  }

  svg {
    width: 16px;
  }
}

@media screen and (max-width: #{breakpoints.$screen-xs}px) {
  .overlay {
    align-items: flex-end;
    padding: 0;
  }

  .root {
    border-radius: 6px 6px 0 0;
    max-height: 100vh;
    padding: 24px;
    transform: translateY(100%);
    transition: all 300ms ease-out;
  }

  .contentAfterOpen {
    transform: translateY(0);
  }
  .contentBeforeClose {
    transform: translateY(100%);
  }
}
