@import 'styles/typography';

.root {
  width: 100%;
}

.select {
  flex: 1;
  max-width: fit-content;

  button {
    border: 0;
    overflow: hidden;
  }

  .balance {
    display: none;
    margin-left: auto;
  }

  .row {
    font-family: var(--font-family-primary);
    font-size: 14px;
    width: 100%;
  }
}

.select ul {
  min-width: 260px;
  .balance {
    display: flex;
  }
}

.selectedValue {
  @extend %title3;
}
