@import 'styles/mixins';

.root {
  @include centralize;
  border: 1px solid var(--color-neutral-40);
  border-radius: 4px;
  cursor: pointer;
  height: 140px;
  position: relative;
  width: 100%;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  &.logo {
    width: 138px;
  }
}

.overlay {
  @include centralize;
  @include font(12px, 18px, 400);
  background-color: var(--color-black-opacity-50);
  bottom: 0;
  color: var(--color-white);
  cursor: pointer;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  row-gap: 6px;
  text-align: center;
  top: 0;
  transition: all 0.4s;

  &.show {
    opacity: 1;
  }

  &.clear {
    background-color: transparent;
    color: var(--color-brand-black);
    opacity: 1;
  }

  &.clear.show {
    background-color: var(--color-black-opacity-50);
    color: var(--color-white);
  }
}

.uploadInput {
  display: none;
}
