.root {
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  height: 140px;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.club {
  background-color: var(--color-brand-coral-red);
  background-image: url('/assets/illustrations/club.svg');
}

.cooperative {
  background-color: var(--color-primary-50);
  background-image: url('/assets/illustrations/cooperative.svg');
}

.corporation {
  background-color: var(--color-brand-pink);
  background-image: url('/assets/illustrations/corporation.svg');
}

.foundation {
  background-color: var(--color-brand-green);
  background-image: url('/assets/illustrations/foundation.svg');
}
