@import 'styles/mixins';

.root {
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 424px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 360px;

  h2 {
    margin: 0;
  }
}

.content {
  padding: 36px 13px 13px;
}

.notes {
  color: var(--color-neutral-60);
  margin-bottom: 8px;
  margin-top: 32px;
}

.title {
  color: var(--color-primary-50);
}

.description {
  font-size: 1em;
  line-height: 2.5;
  margin: 0;
  white-space: pre-wrap;
}
