@import 'styles/typography';
/* stylelint-disable selector-class-pattern */

$gap: 12px;
$border-radius: 3px;

.createComment {
  border: 1px solid var(--color-neutral-40);
  border-radius: $border-radius;
}

.createComment :global(.ql-editor.ql-blank) {
  color: var(--color-neutral-70);
  &::before {
    font-size: initial;
    font-style: normal;
    left: $gap;
  }
}

.createComment :global(.ql-container) {
  @extend %body2;
  font-family: var(--font-family-primary);
}

.createComment :global(.ql-editor) {
  background-color: var(--color-white);
  caret-color: var(--color-primary-40);
  color: var(--color-neutral-90);
  line-height: 24px;
  min-height: 160px;
  padding: $gap;
  li,
  p {
    line-height: 24px;
  }
}

.createComment :global(.ql-editor .ql-syntax) {
  background-color: var(--color-neutral-20) !important;
  color: var(--color-neutral-80) !important;
}

.createComment :global(.ql-container.ql-snow) {
  border: 0;
}

.toolbar {
  background: var(--color-neutral-20);
  border: 0 !important;
  border-radius: $border-radius;
}

.button {
  margin-right: $gap;
}

.textField {
  border: 0;
}

.bottom {
  background: var(--color-white);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 40px + $gap * 2;
  position: relative;
  width: 100%;
}

.send {
  bottom: $gap;
  position: absolute;
  right: $gap;
}

.error :global(.ql-editor.ql-blank) {
  &::before {
    color: var(--color-error);
  }
}

.titleEdit {
  background: var(--color-white);
  padding: 22px 12px 12px;
  width: 100%;
}

.titleError {
  .titleInput::placeholder {
    color: var(--color-error);
  }
}

.titleInput {
  border: 0;
  color: var(--color-neutral-90);
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--color-neutral-60);
  }
}
