@import 'styles/typography';
/* stylelint-disable selector-class-pattern */

$gap: 12px;
$border-radius: 3px;

.editable {
  border: 1px solid var(--color-neutral-40);
  border-radius: $border-radius;
}

.editable :global(.ql-editor.ql-blank) {
  color: var(--color-neutral-70);
  &::before {
    font-size: 14px;
    font-style: normal;
    left: $gap;
  }
}

.editable :global(.ql-container) {
  @extend %body2;
  font-family: var(--font-family-primary);
}

.editable :global(.ql-editor) {
  background-color: var(--color-white);
  caret-color: var(--color-primary-40);
  color: var(--color-neutral-90);
  line-height: 24px;
  min-height: 160px;
  padding: $gap;

  ul,
  pre {
    margin: 0;
  }

  p {
    margin: 0 0 10px;
  }

  p,
  ul {
    font-size: 14px;
    line-height: 24px;
  }

  pre {
    background-color: var(--color-neutral-20);
    font-family: monospace, monospace;
    font-size: 12px;
    margin: 4px 0;
    padding: 5px 10px;
  }

  img {
    max-width: 100%;
  }
}

.editable :global(.ql-editor .ql-syntax) {
  background-color: var(--color-neutral-20) !important;
  color: var(--color-neutral-80) !important;
}

.editable :global(.ql-container.ql-snow) {
  border: 0;
}

.toolbar {
  background: var(--color-neutral-20);
  border: 0 !important;
  border-radius: $border-radius;
}

.button {
  margin-right: $gap;
}

.textField {
  border: 0;
  font-size: 14px;
}

.bottom {
  align-items: center;
  background: var(--color-white);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  height: 40px + $gap * 2;
  justify-content: flex-end;
  padding: 0 12px;
  position: relative;
  width: 100%;
}

.send {
  margin-left: 12px;
}

.error :global(.ql-editor.ql-blank) {
  &::before {
    color: var(--color-error);
  }
}

.titleEdit {
  background: var(--color-white);
  padding: 22px 12px 12px;
  width: 100%;
}

.titleError {
  .titleInput::placeholder {
    color: var(--color-error);
  }
}

.titleInput {
  border: 0;
  color: var(--color-neutral-90);
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--color-neutral-60);
  }
}
