@import 'styles/mixins';
@import 'styles/typography';

.root {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transition: all 0.2s ease-out;
  width: 40px;
}

.anchor {
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.iconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;

  .icon {
    color: var(--color-neutral-60);
  }
}

.closeIconHolder {
  @include centralize;
  cursor: pointer;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;

  .icon {
    color: var(--color-neutral-50);
    height: 16px;
    width: 16px;
  }
}

.input {
  @extend %body2;
  @include ellipse-text;

  background: transparent;
  border-width: 0;
  color: var(--color-brand-black);
  flex: 1;
  font-family: 'Inter', sans-serif;
  margin: 8px 12px 8px 0;
  outline: none;

  @include placeholder {
    color: var(--color-neutral-60);
  }
}

.expanded {
  &.root {
    background: var(--color-neutral-20);
    padding-left: 12px;
    width: 100%;
  }

  .iconHolder .icon {
    color: var(--color-brand-purple);
  }
}
