@import 'styles/typography';

.root {
  margin-top: 24px;

  .filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .row {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-start;
  }

  .row h1 {
    flex: 1;
  }

  .flag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
  }
}

.primaryFilter {
  color: var(--color-brand-black);
  p {
    @extend %heading1;
  }
}
