@use 'styles/breakpoints';

.root {
  background-color: var(--color-brand-purple-light);
  min-height: 100vh;

  .main {
    overflow: hidden;
    padding-bottom: 76px;
    padding-top: 56px;
    width: 100%;
  }
}
