.header {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  line-height: 28px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 24px;
  margin-bottom: 24px;
}

.label {
  align-items: center;
  color: var(--color-brand-black);
  display: flex;
}

.usaOnly {
  margin-left: 8px;
}

.input {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}
