@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  @extend %body2;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  cursor: default;
  padding: 12px;
  width: 260px;
  z-index: 1000;

  &.v2 {
    width: 284px;
  }
}

.menuButton {
  padding: 8px;
}
