@import 'styles/mixins';

@import 'styles/typography';

.root {
  padding: 24px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  @include desktop {
    margin-right: 32px;
    top: 386px;
  }
}

.title {
  @extend %subtitle4;
  margin-bottom: 8px;
  white-space: nowrap;
}

.option {
  @extend %body1;
}
