@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 14px;
  grid-template-areas:
    'breadcrumb'
    'dao'
    'header'
    'content';
  grid-template-columns: 1fr;
  padding-top: 40px;

  @include desktop {
    padding-top: 56px;
  }
}

.breadcrumbs {
  grid-area: breadcrumb;
  margin-bottom: 42px;
}

.dao {
  grid-area: dao;
  margin: 16px 0 44px;
}

.newProposal {
  padding-top: 32px;
}

.header {
  font-size: 32px;
  margin: 0;
}

.grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  padding-top: 56px;
  place-items: start center;

  @include tablet-landscape {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  @extend %body1;
  grid-area: description;
  width: 100%;
}

.bounties {
  grid-area: bounties;

  @include tablet-landscape {
    margin-top: 0.5em;
    width: auto;
  }
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}
