@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-row-gap: 14px;
  grid-template-areas:
    'breadcrumb'
    'dao'
    'header'
    'filters'
    'content';
  grid-template-columns: 1fr;
  padding-top: 56px;
}

.breadcrumbs {
  grid-area: breadcrumb;
  margin-bottom: 42px;
}

.dao {
  grid-area: dao;
  margin: 16px 0 44px;
}

.newProposal {
  padding-top: 32px;
}

.createBounty {
  align-items: center;
  display: flex;
  gap: 35px;

  h1 {
    margin: 0;
  }
}

.grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: header;

  @include tablet-portrait {
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }

  h1 {
    margin: 0;
  }
}

.description {
  @extend %body1;
  grid-area: description;
  width: 100%;
}

.bounties {
  grid-area: bounties;

  @include tablet-landscape {
    margin-top: 0.5em;
    width: auto;
  }
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}

.filters {
  align-items: center;
  display: flex;
  grid-area: filters;
  justify-content: flex-end;
  margin-top: 77px;
}
