@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
  grid-template-areas:
    'header'
    'description'
    'create'
    'bounties';
  grid-template-columns: 1fr;
  padding-top: 56px;

  @include tablet-landscape {
    grid-template-areas:
      'header create'
      'description description'
      'bounties bounties';
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  @extend %body1;
  grid-area: description;
  width: 100%;
}

.create {
  @extend %subtitle2;
  align-self: center;
  color: var(--color-brand-black);
  grid-area: create;
  justify-self: end;
  margin: 8px 0;
  width: 100%;

  @include tablet-landscape {
    margin: 0;
    width: auto;
  }

  button {
    text-transform: none;
    width: 100%;

    @include tablet-landscape {
      min-width: auto;
    }
  }
}

.header {
  @extend %heading2;
  grid-area: header;

  @include tablet-landscape {
    @include font(2em, 48px, 500);
  }
}

.bounties {
  grid-area: bounties;

  @include tablet-landscape {
    margin-top: 0.5em;
    width: auto;
  }
}

.reset {
  bottom: 10px;
  position: fixed;
  right: 10px;

  @include tablet-portrait {
    bottom: 40px;
    right: 40px;
  }
}
