.checkbox {
  align-items: center;
  display: inline-flex;
  font-size: 0.75em;
  gap: 8px;
  line-height: 14px;
  white-space: nowrap;

  input[type='checkbox'] {
    display: none;
    position: absolute;
  }

  svg {
    fill: #000;
  }

  &.disabled {
    opacity: 0.5;
  }
}
