@import 'styles/mixins';

.root {
  border-radius: 100px;
  cursor: pointer;
  transition: 0.4s;
}

.circle {
  fill: var(--color-white);
  stroke: var(--color-brand-black);
}

.icon {
  fill: var(--color-brand-black);
}

.black {
  .circle {
    fill: var(--color-brand-black);
  }

  .icon {
    fill: var(--color-white);
  }
}

//@include non-touch-devices {
//  .root:hover {
//    @include button-hover-state;
//  }
//
//  // stylelint-disable-next-line
//  :global(.near-icon-parent):hover .root {
//    @include button-hover-state;
//  }
//}
