@import 'styles/mixins';
@import 'styles/typography';

@mixin label-font() {
  @include font(12px, 18px, 400);
}

.root {
  width: 100%;
}

.header {
  h2 {
    @include font(1.75em, 38px, 700);
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
  }

  p {
    @extend %body2;
  }
}

.card {
  @include card-shadow;
  padding: 24px;
}

.address {
  margin-top: 14px;

  .addressLabel {
    margin-bottom: 8px;
  }
}

.warning {
  color: var(--color-error-70);
}

.purpose {
  margin-top: 24px;
}

.root .purposeInput {
  font-size: 14px;

  @include placeholder {
    color: var(--color-neutral-60);
    font-weight: 400;
  }
}

.nameInput input {
  font-size: 22px;

  @include placeholder {
    color: var(--color-neutral-60);
    font-weight: 700;
  }
}
