@import 'styles/mixins';
@import 'styles/typography';

@mixin label-font() {
  @include font(12px, 18px, 400);
}

.root {
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 24px;

  h2 {
    @include font(1.75em, 38px, 700);
    font-family: var(--font-family-primary);
    margin: 0;
  }

  p {
    @extend %body2;
  }
}

.address {
  margin-top: 14px;

  .addressLabel {
    margin-bottom: 8px;
  }
}

.warning {
  color: var(--color-error-70);
}

.info {
  color: var(--color-neutral-60);
}

.purpose {
  margin-top: 24px;
}

.root .purposeInput {
  background-color: transparent;
  font-size: 14px;

  @include placeholder {
    color: var(--color-neutral-60);
    font-weight: 400;
  }

  @include tablet-landscape {
    background-color: var(--color-white);
  }
}

.nameInput input {
  background-color: transparent;
  font-size: 22px;

  @include placeholder {
    color: var(--color-neutral-60);
    font-weight: 700;
  }

  @include tablet-landscape {
    background-color: var(--color-white);
  }
}
