@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  margin: 16px 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content input:disabled {
  background-color: var(--color-white);
}

.header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet-landscape {
    align-items: center;
    flex-direction: row;
  }
}

.meta {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 24px;

  @include tablet-landscape {
    padding-bottom: 0;
  }
}

.title {
  @extend %title1;
  //@include ellipse-text;
  //max-width: 320px;
}

.creator {
  @extend %body2;
  color: var(--color-neutral-60);
  display: flex;
  max-width: 360px;

  > span:first-of-type {
    margin-right: 4px;
    white-space: nowrap;
  }

  .creatorName {
    color: var(--color-brand-black);
    font-weight: 500;
  }
}

.control {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.controlIconButton {
  border: 1px solid var(--color-neutral-40);
  border-radius: 4px;
  color: var(--color-brand-black);
  height: 40px;
  margin-left: 8px;
  width: 40px;

  &:hover {
    background-color: var(--color-neutral-30);
  }
}

.duplicateControlBtn {
  margin-left: 24px;
}

.body {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: 1fr;
  margin-top: 52px;

  @include tablet-landscape {
    grid-template-columns: 220px 1fr;
  }
}

.optionsList {
  margin-top: 24px;
}

.list {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
  }
}

.listTitle {
  @extend %caption1;
  color: var(--color-neutral-60);
}

.listItemCond,
.listItem {
  @extend %heading5;
  margin-bottom: 12px;

  &:hover {
    text-shadow: 0 0 8px var(--color-neutral-40);
  }
}

.listItem {
  margin-bottom: 16px;
}

.link {
  display: flex;
  flex-direction: column;

  .sub {
    @extend %caption2;
    color: var(--color-neutral-60);
    line-height: 1;
    margin-top: 2px;
  }
}

.listTotal {
  @extend %title5;
  @include centralize;
  border: 1px solid var(--color-neutral-30);
  border-radius: 4px;
  margin-bottom: 24px;
  max-width: 180px;

  padding: 6px;

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  }
}

.hideMobile {
  display: none;

  @include tablet-landscape {
    display: flex;
  }
}
