@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.author {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .avatar {
    @include centralize;
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;
    overflow: hidden;
    width: 48px;
  }

  .avatarIcon {
    color: var(--color-neutral-60);
    width: 24px;
  }

  .primaryLabel {
    @extend %title4;
  }
}

.datetime {
  @extend %caption1;
  color: var(--color-neutral-60);
  transform: translateY(-12px);
}

.body {
  @include editable-content;
  margin: 0 0 12px;
}
