@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.author {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .avatar {
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    width: 32px;
  }

  .primaryLabel {
    @extend %title4;
  }
}

.datetime {
  @extend %caption1;
  color: var(--color-neutral-60);
}

.body {
  margin: 0 0 12px;

  ul,
  pre {
    margin: 0;
  }

  p {
    margin: 0 0 10px;
  }

  p,
  ul {
    font-size: 13.78px;
    line-height: 24px;
  }

  pre {
    background-color: var(--color-neutral-20);
    font-family: monospace, monospace;
    font-size: 12px;
    margin: 4px 0;
    padding: 5px 10px;
  }

  img {
    max-width: 100%;
  }
}
