@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  @extend %subtitle4;
  color: var(--color-neutral-60);
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 16px;
  padding: 0 8px;

  white-space: nowrap;

  @include tablet-landscape {
    grid-template-columns: 2fr 1.2fr 80px 1fr;
  }
}

.hideMobile {
  display: none;

  @include tablet-landscape {
    display: block;
  }
}
