@import 'styles/mixins';

.root {
  @include centralize;
  align-items: stretch;
  width: 64px;
}

.icon {
  width: 20px;
  svg {
    color: var(--color-primary);
  }
}

.passed {
  background: var(--color-success-40);
}

.expired {
  background: var(--color-neutral-30);
}

@media screen and (max-width: 768px) {
  .root {
    align-items: center;
    height: 40px;
    justify-content: flex-start;
    padding-left: 21px;
    width: 100%;
  }
}
