@import 'styles/mixins';

.buttonsWrapper {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 12px;
  width: 100%;

  @include tablet-landscape {
    justify-content: flex-end;
    margin-top: 0;
  }
}

.actionBarItem {
  margin-right: 16px;
}

.actionBarItem:not(:first-of-type) {
  margin-top: 12px;
}

.actionBarItem.actionBarItem {
  @include tablet-landscape {
    margin-top: 0;
  }
}

.button {
  max-width: 120px;
  padding: 0;
  white-space: nowrap;
}

.complete {
  margin-left: 5px;

  @include tablet-portrait {
    margin-left: 10px;
  }
}

.unclaim {
  text-transform: none;
}

.stub,
.claim {
  max-width: 140px;

  @include tablet-portrait {
    min-width: 120px;
  }

  @include desktop {
    min-width: 140px;
  }
}
