@import 'styles/mixins';

.button {
  max-width: 120px;
  min-width: auto;
  padding: 0;
  white-space: nowrap;
}

.complete {
  margin-left: 5px;
  width: 33%;

  @include tablet-portrait {
    margin-left: 10px;
  }
}

.unclaim {
  text-transform: none;
  width: 30%;
}

.stub,
.claim {
  max-width: 140px;
  width: 40%;

  @include tablet-portrait {
    min-width: 120px;
  }

  @include desktop {
    min-width: 140px;
  }
}
