@import 'styles/mixins';

.root {
  align-items: center;
  background: var(--color-neutral-10);
  border-bottom: 0.5px solid var(--color-brand-purple);
  border-left: 0.5px solid var(--color-brand-purple);
  border-radius: 0 0 7px 7px;
  border-right: 0.5px solid var(--color-brand-purple);
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 16px;

  @include tablet-portrait {
    padding: 22px 30px;
  }

  @include tablet-landscape {
    padding: 22px 18px;
  }

  @include desktop {
    padding: 22px 30px;
  }

  button {
    max-width: 120px;
    min-width: auto;
    padding: 0;
    white-space: nowrap;
  }

  .complete {
    margin-left: 5px;
    width: 33%;

    @include tablet-portrait {
      margin-left: 10px;
    }
  }

  .unclaim {
    text-transform: none;
    width: 30%;
  }

  .claim {
    max-width: 140px;
    width: 40%;

    @include tablet-portrait {
      min-width: 120px;
    }

    @include desktop {
      min-width: 140px;
    }
  }
}
