@import 'styles/mixins';

.button {
  background: none;
  color: var(--color-neutral-50);
  cursor: pointer;
  height: 18px;
  min-width: auto;
  width: 18px;

  @include tablet-landscape {
    &:hover {
      background: none;
    }
  }

  &:hover {
    color: var(--color-error-70);
  }
}

.tooltip {
  height: 24px;
  margin-bottom: 6px;
  width: 24px;
}

.tooltipPopup {
  border-radius: 6px;
  padding: 10px 16px;
  width: auto;
}

.tooltipOverlay {
  font-family: var(--font-family-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
}
