@import 'styles/typography';
@import 'styles/mixins';

.filter {
  border-bottom: 1px solid var(--color-neutral-40);
  margin-bottom: 16px;
  padding: 0 24px 8px;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.filterTitle {
  @extend %subtitle4;
}

.radio {
  margin-top: 12px;
  &:last-child {
    margin-bottom: 24px;
  }
}
