@import 'styles/mixins';

.root {
  @include centralize;
  background-color: var(--color-primary-20);
  border-radius: 100%;
  height: 24px;
  transition: box-shadow 0.4s;
  width: 24px;

  &:hover {
    box-shadow: 3px 2px 12px var(--color-primary-30);
  }

  &.absolute {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .icon {
    color: var(--color-primary-50);
    height: 14px;
    width: 14px;
  }
}
