@import 'styles/typography';

$transition-time: 0.3s;

.root {
  border-radius: 0 8px 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  padding: 0 24px;
}

.header {
  @extend %title2;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: space-between;
  outline: none;
}

.icon {
  transition: $transition-time;
}

.open .icon {
  transform: rotate(180deg);
}

.content {
  margin-bottom: 22px;
}

.contentContainer {
  max-height: 200px;
  overflow: auto;
  transition: $transition-time;
}
