@import 'styles/mixins';
@import 'styles/typography';

.root {
  @include centralize;
  flex-direction: column;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.avatar {
  @include centralize;
  border-radius: 50%;
  height: 66px;
  overflow: hidden;
  width: 66px;

  .selected {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.name {
  @extend %title1;
  margin-top: 16px;
}

.symbol {
  @extend %paragraph1;
  margin-top: 4px;
}

.description {
  @extend %paragraph1;
  margin-top: 32px;
}

.vote {
  align-self: flex-start;
  margin-top: 28px;
}

.warning {
  @extend %body1;
  align-items: flex-start;
  color: var(--color-error-70);
  display: flex;
  justify-content: flex-start;
  margin-top: 28px;

  > span:last-of-type {
    margin-left: 14px;
  }
}

.infoicon {
  width: 24px;
}

.footer {
  align-items: center;
  align-self: flex-end;
  display: flex;
  grid-area: footer;
  justify-content: flex-end;
  margin-top: 32px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    align-self: unset;
    justify-content: space-around;
  }
}
