@import 'styles/typography';

.grid {
  display: grid;
  grid-template-areas: 'token balance value fraction';
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding-left: 24px;
  padding-right: 24px;
}

.root {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 24px;
}

.tokenContainer {
  align-items: center;
  display: flex;
  grid-area: token;

  justify-content: flex-start;

  .icon {
    height: 32px;
    margin-right: 12px;
    width: 32px;
  }

  .name {
    color: var(--color-neutral-90);
    text-transform: uppercase;
  }
}

.totalValue {
  grid-area: value;
}

.tokensBalance {
  @extend %title3;
  grid-area: balance;
}

.fraction {
  align-items: center;
  display: flex;
  flex: 1;
  grid-area: fraction;
}

.fractionTotal {
  background-color: var(--color-brand-purple-light);
  height: 8px;
  width: 100%;
}

.fractionCurrent {
  animation: weight 2s linear forwards;
  background-color: var(--color-brand-purple);
  height: 8px;
  width: 0;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-row-gap: 22px;
    grid-template-areas:
      'token .'
      'balance value'
      'fraction fraction';
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
  }

  .details {
    justify-content: space-between;
  }

  .totalValue {
    justify-self: end;
  }
}

@keyframes weight {
  to {
    width: var(--currentWeight);
  }
}
