@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-areas: 'token balance value fraction';
  grid-template-columns: 2fr 1fr 1fr 2fr;
  padding: 24px;
}

.root {
  background-color: var(--color-white);
  border-radius: 8px;
}

.tokenContainer {
  align-items: center;
  display: flex;
  gap: 12px;
  grid-area: token;

  justify-content: flex-start;

  .iconWrapper {
    height: 32px;
    width: 32px;
  }

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .name {
    color: var(--color-neutral-90);
    text-transform: uppercase;
  }
}

.totalValue {
  align-items: center;
  display: flex;
  grid-area: value;
}

.tokensBalance {
  @extend %title3;
  align-items: center;
  display: flex;
  grid-area: balance;
}

.fraction {
  align-items: center;
  display: flex;
  flex: 1;
  grid-area: fraction;
}

.fractionTotal {
  background-color: var(--color-brand-purple-light);
  height: 8px;
  width: 100%;
}

.fractionCurrent {
  background-color: var(--color-brand-purple);
  height: 8px;
  width: var(--currentWeight);
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-areas:
      'token .'
      'balance value'
      'fraction fraction';
    grid-template-columns: 1fr 1fr;
  }

  .details {
    justify-content: space-between;
  }

  .totalValue {
    justify-self: end;
  }
}
