.dropdown {
  color: var(--color-primary-50);
  cursor: default;
  display: inline-flex;
  min-width: 60px;
  position: relative;
  user-select: none;

  ul {
    padding-inline-start: 0;
  }
}

.menu {
  background: #fff;
  box-shadow: 0 8.89583px 30px rgba(0, 0, 0, 0.14);
  color: var(--color-neutral-90);
  list-style: none;
  overflow-y: auto;
  position: absolute;
  top: 34px;
  width: 200px;
  z-index: 100;
}

.item {
  border: 1px solid var(--color-neutral-20);
  height: 40px;
  padding: 7px 23px;
  white-space: nowrap;
}

.active {
  background: var(--color-primary-20);

  &:hover {
    background: var(--color-neutral-30);
  }
}
