@import 'styles/mixins';
@import 'styles/typography';

.root {
  background-color: var(--color-white);
  border-radius: 0 8px 8px 0;
  box-shadow: 3px 2px 24px var(--color-black-opacity-14);
  display: grid;
  grid-row-gap: 22px;
  grid-template-areas:
    'proposalType proposalType countdown'
    'proposer proposer .'
    'description description description'
    'content content voteControl';
  grid-template-columns: 1fr 1fr 1fr;
  padding: 22px 30px;
  position: relative;

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 16px 54px var(--color-black-opacity-25);
  }
}

.voteProgress {
  border-radius: 0 0 8px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.actionBar {
  display: none;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.root:hover .actionBar {
  display: block;
}

.voteControlCell {
  grid-area: voteControl;
}

.proposalStatusSeal {
  height: 164px;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 164px;
}

.countdownCell {
  @extend %title4;
  color: var(--color-brand-purple);
  grid-area: countdown;
  justify-self: end;
}

.proposalCell {
  display: flex;
  grid-area: proposalType;
}

.proposalContentCell {
  grid-area: content;
}

.proposalTypeAndLink {
  align-items: center;
  display: flex;
}

.proposalValue {
  @extend %title1;
}

.proposalWalletLink {
  padding-left: 15px;
}

.proposalType {
  display: flex;
}

.proposerCell {
  display: flex;
  flex-direction: column;
  grid-area: proposer;
}

.proposerLabel {
  @extend %caption1;
  padding-bottom: 6px;
}

.text {
  @extend %title3;
}

.contentCell {
  grid-area: content;
}

.descriptionCell {
  grid-area: description;
}

.iconWrapper {
  @include centralize;
  background-color: var(--color-primary-20);
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.externalLink {
  padding-left: 10px;
}

.icon {
  color: var(--color-primary-50);
  height: 14px;
  width: 14px;
}

.proposalExternalLink {
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}

.iconWrapper {
  box-shadow: 3px 2px 12px var(--color-primary-30);
}

.externalLink {
  text-shadow: 3px 2px 12px var(--color-primary-30);
}
