@import 'styles/typography';
@import 'styles/mixins';

.root {
  align-items: center;
  display: flex;
  width: 100%;
}

.item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 100%;

  @include tablet-landscape {
    justify-content: flex-start;
    padding: 20px 0;
  }

  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

.desktopOnly {
  display: none;
  @include tablet-landscape {
    display: flex;
  }
}

.iconWrapper.iconWrapper {
  height: 24px;
  margin-left: 8px;
  min-width: 24px;
  width: 24px;
}

.label {
  @extend %subtitle4;
  @include ellipse-text;
  color: var(--color-neutral-90);
  margin-left: 12px;
  width: auto;

  @include tablet-landscape {
    width: 100%;
  }
}

.ellipse {
  @include ellipse-text;
}

.value {
  @extend %subtitle4;
  @include ellipse-text;
  color: var(--color-neutral-80);
  max-width: 100%;
  text-align: right;
  white-space: nowrap;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
}

.icon {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  height: 24px;
  margin-right: 12px;
  width: 24px;
}
