@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  width: fit-content;

  &.fullWidth {
    width: 100%;
  }

  &.flex {
    flex: 1;
  }
}

.root.alignRight {
  .label {
    justify-content: flex-end;
  }
}

.label {
  @extend %caption1;
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  padding-bottom: 4px;
}

.icon {
  margin-left: 4px;
  transform: translateY(-1px);
}

.error.error {
  color: var(--color-error);
  white-space: nowrap;
}

.hidden {
  display: none;
}
