@import 'styles/typography';
@import 'styles/mixins';

.breadcrumbs {
  @extend %subtitle5;
  color: var(--color-neutral-70);
  text-transform: capitalize;

  @include desktop {
    display: none;
  }
}

.breadcrumbsLink {
  color: var(--color-primary-50);
}

.breadcrumbsArrow {
  margin: 0 4px;
}

.breadcrumbsTest {
  @extend %subtitle5;
  display: none;

  @include desktop {
    display: inline;
  }
}
