@import 'styles/typography';

.breadcrumbs {
  @extend %subtitle5;
  color: var(--color-neutral-70);
  text-transform: capitalize;

  .link {
    color: var(--color-primary-50);
  }

  .arrow {
    margin: 0 4px;
  }
}
