@import 'styles/typography';

.root {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-weight: 700;
  justify-content: flex-start;
  margin-left: -24px;
  opacity: 0.4;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}
