@import 'styles/mixins';
@import 'styles/typography';

.root {
  max-width: 462px;
  position: relative;
  width: 100%;
}

.cover {
  @extend %title3;
  background-image: linear-gradient(#201f1f, transparent);
  background-size: cover;
  height: 100%;
  inset: 0;
  width: 50px;
  z-index: -1;
}

.bountyGrid {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 8.89583px 30px var(--color-black-opacity-14);
  display: grid;
  grid-row-gap: 22px;
  grid-template-areas:
    'proposalType proposalType daysLeft'
    'status status .'
    'description description description'
    'content content content'
    'actions actions actions';
  grid-template-columns: 1fr 1fr 1fr;
  padding: 22px 24px 0;
  position: relative;

  &:hover {
    box-shadow: 0 16px 54px var(--color-black-opacity-25);
  }
}

.completeDate {
  @extend %title4;
  color: var(--color-brand-purple);
  grid-area: daysLeft;
  justify-self: end;
}

.statusAvailable {
  color: var(--color-success-60);
}

.statusExpired {
  color: var(--color-brand-coral-red);
}

.statusInProgress {
  color: var(--color-primary-50);
}

.proposalType {
  grid-area: proposalType;
}

.status {
  grid-area: status;
}

.countdown {
  grid-area: countdown;
}

.description {
  grid-area: description;
}

.content {
  display: flex;
  grid-area: content;
  justify-content: space-between;
}
