@import '~sanitize.css';

@import 'variables';
@import 'helpers';
@import 'typography';
@import 'breakpoints';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  color: var(--color-brand-black);
  font-size: 14px;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-neutral-10);
  display: flex;
  font-family: var(--font-family-primary);
  font-size: 1em;
  line-height: 1;
  min-height: 100%;
}

input,
textarea,
select {
  font-family: inherit;
}

small {
  font-size: 0.875em;
}

p {
  font-size: 1.125em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-tertiary);
}

$headings: 'h1', 'h2', 'h3', 'h4', 'h5';

/* prettier-ignore */
$sizes: // Typography sizes
  'h1' 2em 48px 500,
  'h2' 1.5em 36px 500,
  'h3' 1.125em 28px 500,
  'h4' 1em 16px 500,
  'h5' 0.875em 24px 500,
  '.title1' 1.25em 28px 700,
  '.title2' 1.125em 24px 700,
  '.title3' 1em 24px 700,
  '.title4' 0.875em 18px 700,
  '.title5' 0.75em 16px 700,
  '.title6' 0.625em 16px 700,
  '.subtitle1' 1.25em 28px 500,
  '.subtitle2' 1.25em 24px 500,
  '.subtitle3' 1em 24px 500,
  '.subtitle4' 0.875em 18px 500,
  '.subtitle5' 0.75em 16px 500,
  '.subtitle6' 0.625em 16px 500,
  '.body1' 1em 24px 400,
  '.paragraph1' 1.125em 28px 400,
  '.caption1' 0.875em 18px 400;

.subtitle1,
.subtitle2,
.subtitle3,
.subtitle4,
.subtitle5 {
  margin: 0;
}

@each $name, $size, $height, $weight in $sizes {
  #{$name} {
    @include font($size, $height, $weight);
  }
}

@media screen and (min-width: #{$screen-xs}px) {
  :root {
    font-size: 16px;
  }
}

#__next {
  width: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
