@use 'styles/breakpoints';

@mixin centralize {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin ellipse-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin card-shadow {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
}

@mixin font($size, $height, $weight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

/*
  Customize input placeholder
  Usage:
  @include placeholder {
    color: red;
  }
*/

@mixin placeholder {
  &::placeholder {
    @content;
  }
}

// breakpoints exclusive
@mixin mobile-only {
  @media (max-width: #{breakpoints.$screen-xs - 1}px) {
    @content;
  }
}

@mixin tablet-portrait-only {
  @media (min-width: #{breakpoints.$screen-xs}) and (max-width: #{breakpoints.$screen-sm - 1}px) {
    @content;
  }
}

@mixin tablet-landscape-only {
  @media (min-width: #{breakpoints.$screen-sm}) and (max-width: #{breakpoints.$screen-md - 1}px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{breakpoints.$screen-xs}) and (max-width: #{breakpoints.$screen-md - 1}px) {
    @content;
  }
}

// breakpoints cascading

@mixin large-desktop {
  @media (min-width: #{breakpoints.$screen-lg}px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{breakpoints.$screen-md}px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{breakpoints.$screen-sm}px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{breakpoints.$screen-xs}px) {
    @content;
  }
}
