@import 'styles/mixins';

%heading1 {
  @include font(2em, 48px, 500);
  font-family: var(--font-family-tertiary);
}

%heading2 {
  @include font(1.5em, 36px, 500);
  font-family: var(--font-family-tertiary);
}

%heading3 {
  @include font(1.125em, 28px, 500);
  font-family: var(--font-family-tertiary);
}

%heading4 {
  @include font(1em, 16px, 500);
  font-family: var(--font-family-tertiary);
}

%heading5 {
  @include font(0.875em, 24px, 500);
  font-family: var(--font-family-tertiary);
}

%title1 {
  @include font(1.25em, 28px, 700);
}

%title2 {
  @include font(1.125em, 24px, 700);
}

%title3 {
  @include font(1em, 24px, 700);
}

%title4 {
  @include font(0.875em, 18px, 700);
}

%title5 {
  @include font(0.75em, 16px, 700);
}

%title6 {
  @include font(0.625em, 16px, 700);
}

// Subtitles

%subtitle1 {
  @include font(1.25em, 28px, 500);
}

%subtitle2 {
  @include font(1.125em, 24px, 500);
}

%subtitle3 {
  @include font(1em, 24px, 500);
}

%subtitle4 {
  @include font(0.875em, 18px, 500);
}

%subtitle5 {
  @include font(0.75em, 16px, 500);
}

%subtitle6 {
  @include font(0.625em, 16px, 500);
}

%body1 {
  @include font(1em, 24px, 400);
}

%body2 {
  @include font(0.875em, 24px, 400);
}

%body3 {
  @include font(0.75em, 24px, 400);
}

%paragraph1 {
  @include font(1.125em, 28px, 400);
}

%caption1 {
  @include font(0.75em, 18px, 400);
  margin: 0; // todo need to check and remove this rule
}

%caption2 {
  @include font(0.65em, 18px, 400);
}

%caption3 {
  @include font(0.5em, 12px, 400);
}

.caption {
  @extend %caption1;

  &.small {
    @extend %caption2;
  }
}
