@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  @extend %subtitle1;
  background-color: var(--app-background);
  display: none;

  @include large-desktop {
    display: block;
  }
}
