@import 'styles/mixins';

.root {
  align-items: center;
  display: none;
  grid-template-columns: 54px 1fr 103px;
  justify-content: flex-start;
  margin-bottom: 30px;
  @include tablet-landscape {
    display: grid;
  }
}

.first,
.last {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.divider {
  background: var(--color-neutral-50);
  height: 32px;
  width: 1px;
}
