@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  align-items: center;
  background-color: var(--color-neutral-10);
  border-radius: 8px;
  display: grid;
  grid-template-areas: 'status name tokens other link';
  grid-template-columns: 46px 1fr 1fr 200px 44px;
  overflow: hidden;
}

.status {
  @include centralize;

  grid-area: status;
  height: 100%;

  position: relative;

  &.yes {
    background-color: var(--color-success-10);
  }

  &.yes .lastVoteIcon {
    color: var(--color-success-50);
  }

  &.no {
    background-color: var(--color-error-10);
  }

  &.no .lastVoteIcon {
    color: var(--color-error-50);
  }

  &.dismiss {
    background-color: var(--color-error-10);
  }

  &.dismiss .lastVoteIcon {
    color: var(--color-error-20);
  }

  &.notVoted {
    background-color: var(--color-primary-10);
  }
}

.rotate {
  transform: rotate(90deg);
}

.name {
  @extend %title4;
  grid-area: name;
  padding: 12px;
}

.other {
  @extend %body2;
  color: var(--color-neutral-60);
  grid-area: other;
  padding: 12px;
}

.tokensDetails {
  .primaryValue {
    @extend %body2;
    font-weight: 600;
  }
  .secondaryValue {
    @extend %body3;
    color: var(--color-neutral-60);
    margin-left: 8px;
  }
}

.link {
  align-items: center;
  display: flex;
  grid-area: link;
  position: relative;
}

.linkItem.linkItem {
  align-items: center;
  display: flex;
  height: 24px;
  position: relative;
  width: 24px;
}

.iconWrapper {
  align-items: center;
  background-color: var(--color-primary-20);
  border-radius: 50%;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.lastVoteIcon {
  background-color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-template-areas:
      'status name link'
      'status groups groups'
      'status other other';
    grid-template-columns: 44px 1fr 44px;
  }

  .name {
    padding: 12px;
  }

  .other {
    padding: 12px;
  }

  .link {
    padding: 16px 16px 4px 4px;
  }
}
