@import 'styles/mixins';
@import 'styles/typography';

.root {
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 20px;

  :global .proposalInfo {
    height: auto;
  }

  :global .paragraph1 {
    white-space: normal;
  }
}

.header {
  align-items: center;
  display: flex;
  gap: 12px;
}

.left,
.right {
  align-items: center;
  display: flex;

  p {
    margin: 0;
  }
}

.left {
  flex: 1;
}

.right {
  color: var(--color-neutral-60);

  > svg {
    margin-left: 20px;
  }
}

.icon {
  width: 24px;
}

.name {
  @extend %subtitle3;
  color: var(--color-neutral-60);
  margin: 16px 0;
}

.control {
  justify-content: flex-start;
  margin-top: 24px;
}

.votes {
  margin-top: 35px;
  .voteDetails {
    margin: 16px -24px -24px;
  }
}

.flag {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
}

.content {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 2fr;
}
