@use 'styles/breakpoints';
@import 'styles/mixins';

.root {
  display: flex;
}

.row {
  align-items: center;
  display: flex;
  height: 39px;
  white-space: nowrap;

  @include tablet-landscape {
    height: 41px;
  }

  .iconWrapper {
    background-color: var(--color-neutral-30);
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}

.symbol {
  @include ellipse-text;
  max-width: 60px;
}

.divider {
  margin-left: 60px;
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    flex-wrap: wrap;

    > div:nth-child(2) {
      > div:first-of-type {
        height: 14px;
      }
    }

    > div:nth-child(3),
    > div:nth-child(5) {
      height: 22px;
      width: 100%;
    }
  }
}
