@import 'styles/typography';

.root {
  @include centralize;
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px var(--color-black-opacity-1);
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}

.content {
  @include centralize;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 24px 16px;
  width: 100%;
}

.title {
  margin: 0;

  &.active {
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.25em;
  }

  span {
    font-weight: 700;
  }
}

.subtitle {
  color: var(--color-neutral-60);
  margin: 0;
}

.action {
  @extend %title3;
  @include centralize;
  background: var(--color-success);
  border-radius: 0 0 8px 8px;
  color: var(--color-brand-black);
  height: 40px;
  padding: 0;
  text-transform: none;
  width: 100%;
}
