@import 'styles/mixins';

.root {
  @include centralize;
  flex-direction: column;
  text-align: center;

  h2 {
    margin: 0;
  }
}

.button {
  margin-top: 32px;
}

.target {
  text-transform: capitalize;
}
