@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 14px;
  grid-template-areas:
    'general funds funds'
    'general members controls'
    'general proposals proposals';
  grid-template-columns: 1fr 130px 130px;
}

.general,
.funds,
.members,
.controls,
.proposals {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-25);
  }
}

.general {
  grid-area: general;
}

.funds {
  display: flex;
  flex-direction: column;
  grid-area: funds;
  justify-content: center;
  padding: 21px 22px 13px;

  .value {
    @extend %subtitle3;
  }

  .value .bold {
    @extend %title3;
  }
}

.members {
  display: flex;
  flex-direction: column;
  grid-area: members;
  justify-content: center;
  padding: 21px 22px 13px;

  .value {
    @extend %title3;
  }

  .value .bold {
    @extend %title1;
    font-size: 32px;
  }
}

.controls {
  display: grid;
  grid-area: controls;
  grid-template-columns: 1fr 1fr;
  padding: 14px 22px;
  place-items: center;
}

.proposals {
  grid-area: proposals;
}

.label {
  @extend %subtitle6;
  color: var(--color-neutral-60);
  margin-bottom: 4px;
}

.controlIcon {
  @include centralize;
  height: 16px;

  > button {
    color: var(--color-neutral-60);
  }
}

.controlIcon:hover {
  > button {
    color: var(--color-brand-black);
  }
}

.previewIcon {
  > button {
    cursor: default;
  }
}

.previewIcon:hover {
  > button {
    color: var(--color-neutral-60);
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-areas:
      'general general'
      'funds funds'
      'members controls'
      'proposals proposals';
    grid-template-columns: 1fr 1fr;
  }
}
