@use 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins';

.root {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 2px 24px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 14px;
  grid-template-areas: 'general controls proposals';
  grid-template-columns: 2fr 1fr 87px;

  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 3px 2px 24px var(--color-black-opacity-25);
  }
}

.general {
  align-items: flex-start;
  display: flex;
  grid-area: general;
  justify-content: flex-start;
  padding: 12px 0 12px 24px;

  > div:last-of-type {
    flex: 1 1 100%;
  }
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
}

.proposals {
  grid-area: proposals;
}

.flagWrapper {
  flex: 0 0 69px;
  height: 78px;
  margin-right: 24px;
  margin-top: -42px;
  position: relative;
  width: 69px;

  .background {
    background-color: var(--color-white);
    clip-path: url('#flag-outline');
    inset: 0;
    position: absolute;
    transform: scale(1.04, 1.045);
  }

  .cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    clip-path: url('#flag');
    height: 100%;
    width: 100%;
  }
}

.displayName {
  @extend %title1;
  font-size: 18px;
  line-height: 1.1;
}

.daoId {
  @extend %body2;
  color: var(--color-neutral-60);
}

.addProposalButton {
  @include centralize;
  background-color: var(--color-brand-green);
  border-radius: 0 8px 8px 0;
  height: 100%;
}

.controlIcon {
  @include centralize;
  border-radius: 4px;
  height: 42px;
  width: 42px;

  > button {
    color: var(--color-neutral-60);
  }
}

.controlIcon:hover {
  background-color: var(--color-neutral-20);
  color: var(--color-brand-black);

  > button {
    color: var(--color-brand-black);
  }
}

@media screen and (max-width: #{breakpoints.$screen-sm}px) {
  .root {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-areas:
      'general'
      'controls'
      'proposals';
    grid-template-columns: 1fr;
  }

  .general {
    justify-content: flex-start;
    padding: 12px 12px 0;
  }

  .controls {
    justify-content: space-around;
    padding: 0;
  }

  .displayName {
    line-height: 1.1;
  }

  .addProposalButton {
    border-radius: 0 0 8px 8px;
  }
}
