.root {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-background);
  z-index: 10;
}

.body {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 12px 24px var(--color-black-opacity-1);
  margin: 12px 0;
  overflow: hidden;
}
